[2019-01-07 19:43] philips opened #5 "move etcd.io domain maintenance to the CNCF"
Dependencies:
 - [ ] [Discovery.etcd.io owned by CNCF](https://github.com/coreos/discovery.etcd.io/issues/63)

[2019-01-07 19:45] philips commented on #5
cc @caniszczyk @coverprice

[2019-01-11 15:23] spzala opened #7 "Migrate etcd docs to website repo"
Migrate the content of https://github.com/etcd-io/etcd/tree/master/docs to this new repo. Adding more details later working with @gyuho

[2019-02-06 23:24] spzala commented on #7
@gyuho @hexfusion please let me know if you have any thoughts here. Thanks!

[2019-02-06 23:26] lucperkins commented on #7
This has already been done (#8). Let me know if this is more or less what you had in mind. You can see the current state of the new site at https://etcd.netlify.com.

[2019-02-06 23:27] #7 closed

[2019-02-06 23:42] spzala commented on #7
OK, cool. Thanks @lucperkins

[2019-03-01 21:36] philips opened #9 "versioned documentation"
Like the existing etcd docs website we should have versioned documentation. Copying and/or using the existing docs setup exactly isn't necessary. The only thing is the outcome of the setup: etcd docs that are partitioned by version.

e.g. https://coreos.com/etcd/docs/3.2.13/index.html
v.s. https://coreos.com/etcd/docs/latest/

We can use whatever tooling to accomplish this.  So, if there is anothe

[2019-03-01 21:43] philips opened #10 "website pageview analytics"
To help figure out the effectiveness of the etcd documentation and marketing pages we need to provide analytics such as page views, bounce rates, time on page, and geographic information.

[2019-03-01 22:03] lucperkins commented on #10
@philips Do you have an existing Google Analytics account that you’d like to utilize?

[2019-03-01 22:07] philips commented on #10
No, we do not

[2019-03-01 22:07] philips commented on #10
It doesn't need to be Google Analytics either. Does the CNCF have a standard solution?

[2019-03-02 00:04] lucperkins commented on #10
@philips We typically use Google Analytics. I'll work through internal channels to get you a project account.

[2019-03-06 23:09] lucperkins commented on #9
A bit of clarification regarding existing blockers (for the sake of all parties involved, especially those who may be able to help):

Currently, the etcd docs are maintained in the [main etcd repo](https://github.com/etcd-io/etcd/tree/master/Documentation) as bare Markdown. Internally at CoreOS (and later Red Hat), a bespoke script written in [Rust](https://rust-lang.org) converts those bare Markd

[2019-03-07 03:20] philips commented on #9
I wouldn't get too hung up importing all of the old versions of docs into etcd.io. But, we do need a simple way to handle new versions as releases are cut every few weeks.

[2019-03-07 19:36] philips commented on #5
replaced with https://github.com/etcd-io/maintainers/issues/2

[2019-03-07 19:36] #5 closed

[2019-03-08 18:48] lucperkins commented on #9
@philips That part is fortunately much easier and essentially already in place (as I can add the appropriate document metadata, which will be carried over into all future releases). The question at this point: do you want to keep the documentation content in this repo or in the main project repo?

[2019-03-08 23:36] philips commented on #9
I think keeping the docs in the main repo is fine.

How does the metadata system work? Is that documented somewhere?

[2019-03-09 00:08] lucperkins commented on #9
@philips Page metadata looks like this:

[code]

Without that metadata, static site generators don't even *recognize* Markdown files as "pages" to be rendered. I'm assuming that CoreOS's internal script auto-generates that page metadata for all of the Markdown files in the `Documentation` folder of the main repo, though I haven't yet gotten it to work, so I'm still not certain what the mechanics a

[2019-03-09 00:29] philips commented on #9
How do you plan on having versioned docs? In the CoreOS docs setup
everytime we made a release of etcd a script would copy the docs into the
coreos.com website repo.

On Fri, Mar 8, 2019 at 4:08 PM Luc Perkins <notifications@github.com> wrote:

[2019-03-09 00:35] lucperkins commented on #9
@philips There are two possible scenarios:

1. **Docs are kept in etcd-io/etcd** --- The etcd repo gets pulled into this one as a Git submodule. A script can iterate through a list of versions and copy the `Documentation` folder into `content/docs/<version>` based on the tag.
2. **Docs are kept in this repo** --- Each version is simply a subfolder in `content/docs` (not the most elegant solution b

[2019-03-09 00:39] philips commented on #9
The submodule thing makes sense to me.

Thanks for the clarification.

On Fri, Mar 8, 2019 at 4:35 PM Luc Perkins <notifications@github.com> wrote:

[2019-03-25 18:47] philips commented on #10
Any update on this? Will the etcd maintainers be able to have admin access to the Google Analytics?

[2019-03-25 22:17] #10 closed

[2019-04-03 21:00] philips commented on #9
@lucperkins I was thinking about it further and I think we should patch the docs for all of the currently maintained branches: https://github.com/etcd-io/etcd/blob/master/Documentation/dev-internal/release.md#release-management

WDYT @etcd-io/maintainers-etcd ?

[2019-04-03 21:25] jpbetz commented on #9
That sounds right to me.

On Wed, Apr 3, 2019 at 2:00 PM Brandon Philips <notifications@github.com>
wrote:

[2019-04-16 01:30] philips opened #18 "sidebar anchor heirarchy"
The sidebar links don't have any heirarchy and can be confusing to understand. See the FAQ page for example:

https://deploy-preview-16--etcd.netlify.com/docs/v3.3.12/faq/#what-is-the-difference-between-listen-client-peer-urls-advertise-client-urls-or-initial-advertise-peer-urls

[2019-04-17 21:34] #18 closed

[2019-04-23 20:15] philips opened #23 "better adopters copy"
- [ ] point the link to https://github.com/etcd-io/etcd/blob/master/Documentation/production-users.md and https://github.com/etcd-io/etcd/blob/master/Documentation/integrations.md
- [ ] Highlight projects like m3, rook, patroni, trillian, coredns, and openstack instead of Cloud Foundry (which doesn't use it anymore AFAIK)

[2019-04-23 20:23] philips opened #24 "crowded on 800x600 display"
![Screenshot 2019-04-23 at 1 22 25 PM](https://user-images.githubusercontent.com/33544/56613178-f6355400-65ca-11e9-87e6-dc6aba6dcea7.png)

Should probably just transition to the mobile hamburger style at 800x600 as the nav is nearly half the screen.

[2019-04-29 17:49] lucperkins commented on #23
@philips I'm not familiar with m3 and my Google searches have been fruitless. Could you provide a link?

[2019-04-29 18:00] dankohn commented on #23
https://eng.uber.com/m3/

[2019-04-30 19:33] lucperkins commented on #9
@philips FYI I now have [pull requests](https://github.com/etcd-io/etcd/pulls/lucperkins) open to the etcd-io/etcd project with upstream changes to the `Documentation` folder and the [in-progress site](https://etcd.netlify.com/docs/v3.3.12/) now includes the latest versions of the 3.1, 3.2, and 3.3 series.

[2019-04-30 19:44] philips commented on #9
Great! Sorry, I just noticed this PR:
https://github.com/etcd-io/etcd/pull/10615

Do you still need help with that?

On Tue, Apr 30, 2019 at 12:33 PM Luc Perkins <notifications@github.com>
wrote:

[2019-04-30 21:02] #24 closed

[2019-04-30 21:07] lucperkins commented on #9
@philips Yeah, I could use a little help there, particularly from someone who's knowledgeable about the intention behind the CI checks

[2019-05-01 16:49] #23 closed

[2019-05-01 19:28] philips commented on #9
Oh, I guess the last thing we really need is a warning if you are browsing an out of date doc.

[2019-05-02 03:25] philips opened #27 "complete index on docs homepage"
https://etcd.netlify.com/docs/v3.3.12/

It would be nice if the root docs page included an index of the sections instead of an index for the root sections.

e.g.

- Old: Download and build, Libraries and tools, Branch management, ...
- New: Benchmarks, Developer Guide, Learning, ...

[2019-05-02 17:35] #27 closed

[2019-05-10 17:30] philips opened #30 "top logo on docs goes to etcd.netlify.com"
See title

@lucperkins

[2019-05-10 18:57] #30 closed

[2019-05-10 19:18] philips commented on #30
thanks!

[2019-05-17 23:49] philips commented on #9
@hexfusion do you have time to look into this? I keep meaning to but it keeps slipping off of my todo list.

[2019-05-31 15:30] #9 closed

[2019-05-31 15:30] lucperkins opened #36 "Decommission CoreOS etcd site"

[2019-05-31 16:05] philips commented on #36
@coverprice is working on this

[2019-05-31 16:11] philips opened #37 "Add 3.3.13 docs"
@lucperkins are there docs on how to add a new release docs to the site?

https://github.com/etcd-io/etcd/releases/tag/v3.3.13

cc @gyuho

[2019-05-31 17:05] lucperkins commented on #37
@philips There are instructions in the [README](https://github.com/etcd-io/website/#releasing-a-new-version-of-the-etcd-documentation) for this repo.

However, we will not be able to add new versions of the documentation until [this PR](https://github.com/etcd-io/etcd/pull/10615) goes through.

[2019-06-01 00:27] philips commented on #36
coreos.com/etcd redirects to etcd.io now

[2019-06-01 00:27] #36 closed

[2019-07-24 13:57] nilsocket opened #39 "Documentation : dead link in https://etcd.io/docs/v3.3.12/integrations"
https://etcd.io/docs/v3.3.12/integrations

deadlink : https://etcd.io/docs/v3.3.12/raft/README.md#notable-users

[2019-07-25 14:09] piontec opened #40 "not existing option `discovery-srv-name` is in the docs for 3.3.13 and .12"
This option is described in the docs, but not supported in reality. Please check discussion here: https://github.com/etcd-io/etcd/issues/10916

[2019-08-31 03:40] somsubhro opened #43 "FAQ broken link"
the FAQ link [faq.md] is broken on readme.md. It is expecting a faq.md at: etcd.io/docs/v3.4.0/v2/readme/faq.md

[2019-08-31 03:44] somsubhro commented on #43
Found that all of the links from the Documentation page is broken because of the extra "/readme/". Think all of them should point to ...v3.4.0/v2/xxxx.md

[2019-09-01 11:59] oz123 opened #44 "The docs in the website are all leading to etcd version 2, links to version 3 are broken"
When I go to the documentation of etcd3 I expect to find the most updated docs, older versions should be easy to find.
Currently, the default is documentation of etcd2

![image](https://user-images.githubusercontent.com/1083045/64076085-762da200-ccc0-11e9-830e-5bdb0dc70509.png)

The links to updated documentation are broken:

![image](https://user-images.githubusercontent.com/1083045/64076109-a8d7

[2019-09-16 19:47] grantholly opened #46 "dead link"
This link is currently 404 https://etcd.io/docs/v3.3.12/metrics/v2/metrics.md#http-requests

Also broken on the most current version https://etcd.io/docs/v3.4.0/metrics/v2/metrics.md#http-requests

[2019-09-19 19:56] #44 closed

[2019-09-27 04:00] ChaitanyaKaranam opened #48 "Images not found in etcd docs"
Images are not found in this etcd [doc](https://etcd.io/docs/v3.4.0/learning/design-client/)

![image](https://user-images.githubusercontent.com/26694932/65741340-5a73bb00-e109-11e9-81a4-a0d58d59c5a3.png)

[2019-09-27 04:02] ChaitanyaKaranam commented on #48
Same issue with this [doc](https://etcd.io/docs/v3.4.0/learning/design-learner/)

[2019-09-27 04:20] ChaitanyaKaranam commented on #48
I have found the location of these images. I will raise a PR shortly.

[2019-09-27 09:40] ChaitanyaKaranam commented on #48
Should be fixed in this [PR](https://github.com/etcd-io/website/pull/49)

[2019-09-27 14:26] ChaitanyaKaranam opened #50 "Multiple Broken Links across the site"
There are multiple broken links across the site. I am working on fixing them. I have fixed most of external links.

Here's the current state of broken links -
https://docs.google.com/spreadsheets/d/10FXHFFzSJy4NvezabBPvS5Bm8z3WhVQclz0RxI_aDUo/edit?usp=sharing

I could not find the links for the ones highlighted in red.

I am working on fixing remaining links.

[2019-11-04 18:26] davidnuzik commented on #50
I've also noticed this. For example, https://github.com/etcd-io/website/edit/master/content/docs/v3.4.0/op-guide/security.md references a link near the top of the page " and we provide an example using the tool here" the "here" link is a dead link.

[2020-02-21 00:44] #37 closed

[2020-04-08 23:02] jberkus opened #65 "Etcd.io Docs/SEO Improvement Plan"
I've been looking over the current etcd website and documentation, and feel that a refactor is warranted in order to improve them.  Over the next few months, I plan to commit a significant part of my personal time to doing the below; I'm looking for the project's approval that these are all things that should get done.  I also have the support of CNCF's web designer to help with this.

**Objective

[2020-04-12 18:16] Allesha opened #66 "This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions."
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

_Originally posted by @stale in https://github.com/etcd-io/etcd/issues/11357#issuecomment-610004629_

[2020-04-21 16:53] jberkus commented on #65
Comments?  Corrections?  If this is a good plan, can the project owners approve it?

[2020-04-21 17:40] philips commented on #65
Did you send this to etcd-dev? Very few people subscribe to notifications on this repo IIRC. You can cc etcd-maintainers@googlegroups.com. too.

[2020-05-14 01:19] spzala commented on #65
adding @lucperkins

[2020-05-14 01:45] spzala commented on #65
Thanks @jberkus Improving doc as you detailed sounds great to me! Wondering about couple of things
- is the refactoring/improvement plan you proposing modeled after any existing CNCF project?
- are there any standardization among CNCF projects for docs/docs repo in look and feel, search engine result, content requirements, contribution practices etc?

[2020-05-16 00:42] jberkus commented on #65
A)  No, it's based on feedback from a docs specialist and an SEO specialist
B) There purposefully is not.  That's one of the areas where the CNCF is very specific that they do not control or set requirements.

[2020-05-16 01:02] spzala commented on #65
Thanks!

[2020-07-28 16:36] spzala commented on #65
https://github.com/etcd-io/etcd/issues/12180  - doc improvement consideration related

[2020-08-15 03:52] cakoose opened #74 "Docs for AWS say "across at least two AZs", shouldn't that be three?"
In the "Availability" section of https://etcd.io/docs/v3.4.0/platforms/aws/

If we spread our three etcd nodes across two AZs, then one AZ will have two nodes.  If that AZ goes down, etcd will be completely unavailable, right?

Am I misunderstanding the terms here?

[2020-09-14 18:05] spzala commented on #66
Closing. Inactive issues are marked as stale and auto closes if there is no activity around for the mentioned # of days.

[2020-09-14 18:05] #66 closed

[2020-09-24 02:24] dingkegithub opened #76 "refresh changs value when does not set value"
website doc "You cannot update the value of a key when refreshing it."

$ curl http://127.0.0.1:2379/v2/keys/foo -XPUT -d value=bar -d ttl=60
{
    "action":"set",
    "node":{
        "key":"/foo",
        "value":"bar",
        "expiration":"2020-09-24T02:17:05.5974668Z",
        "ttl":60,
        "modifiedIndex":12038,
        "createdIndex":12038
    }
}

$ curl http://127.0.0.1:2379/v2/keys/f

[2020-10-15 19:54] SudoBrendan opened #77 "Dead link: Member data migration"
Several links are broken on this page referencing the admin guide for migrating the data directory (appears to be present in v2, but not newer versions, not sure if that's still up to date)

https://etcd.io/docs/v3.3.13/op-guide/runtime-configuration/

[2020-11-17 23:30] nate-double-u commented on #65
Hi 👋, I'm a Developer Advocate for documentation over at the CNCF, and I'd like to help with this project.

[2020-11-18 00:51] spzala commented on #65
@nate-double-u thank you, that would be great! Would you like to compile the kind of improvements that you think of? I can schedule a meeting in the first week of December with maintainers. This week is KubeCon. We have a monthly meeting next week but it's a Thanksgiving so I believe it will be canceled. Please feel free to ask any questions meanwhile. Thanks! /cc @xiang90 @gyuho @jpbetz @jingyih

[2020-11-18 23:43] jberkus commented on #65
Meeting at the first community meeting in December would be awesome.

[2020-11-18 23:47] nate-double-u commented on #65
I agree, the first community meeting in December would work for me as well. Just to confirm, this is the one on Dec 17th?

[2020-11-19 01:45] spzala commented on #65
@jberkus @nate-double-u - sounds great! Thanks!

[2020-11-19 18:56] wenjiaswe commented on #65
Thanks, @nate-double-u @jberkus @spzala , I will add that to community meeting agenda.

[2020-11-19 20:11] spzala commented on #65
Awesome, thank you @wenjiaswe !!

[2020-11-24 02:08] nate-double-u opened #81 "Documentation Content: TOC"
As per the Documentation Content Section of the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65)

- [ ] Replace TOC for documentation navigation with one that makes more logical sense from a "user journey" point of view.
- [ ] This will be the same TOC displayed on the static page.

At a top level, this would mean replacing the existing sections with the following:

[2020-11-24 02:14] nate-double-u opened #82 "Documentation Content: Versioning"
As per the Documentation Content Section of the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65)

- [ ] Fix multi-version navigation
  - That is, switching "versions" of the documentation should automatically navigate to that page in the selected version of the docs, if that page exists.
  - If this is challenging to do with the documentation toolchain we have, re-

[2020-11-25 22:20] nate-double-u commented on #81
I've set up two PRs to manage this issue:
* [etcd-io/etcd#12488](https://github.com/etcd-io/etcd/pull/12488)
* [etcd-io/website#83](https://github.com/etcd-io/website/pull/83)

The primary work is being done in [etcd-io/etcd#12488](https://github.com/etcd-io/etcd/pull/12488), as those Documents are the source of truth. But eventually this work will be transferred into the website, so I'm using [et

[2020-11-25 22:32] nate-double-u commented on #81
I've gone through, and for each file that had any frontmatter have added a `weight` value.

I'm dropping screen shots in so that we can discuss the order -- now that each file has a weight, it should be trivial to change. Moving forward, any ToC should use this weight to order pages.

Here's the results of my first pass:

## Docs index
Note that this also controls the Version home menu order.

![S

[2020-12-02 02:56] nate-double-u commented on #81
@jberkus the last commit starts to add annotations.

Some examples
https://deploy-preview-83--etcd.netlify.app/docs/v3.4.z/
https://deploy-preview-83--etcd.netlify.app/docs/v3.4.z/dev-guide/
https://deploy-preview-83--etcd.netlify.app/docs/v3.4.z/dev-guide/local_cluster/

I like this because it keeps the content with the developers (I've updated the https://github.com/etcd-io/etcd/pull/12488 PR to

[2020-12-03 23:13] nate-double-u commented on #81
I'm going to reorganize this issue a bit.

I'll break the original https://github.com/etcd-io/etcd/pull/12488 PR into more manageable pieces and highlight changes in a more modular, reviewable way.

Main sections reorder:
Documentation Content: TOC — Sections Order etcd-io/etcd#12509

[2020-12-04 02:01] nate-double-u commented on #81
## TOC Annotations

We can add `description` to the frontmatter of our `.md` files, which we can then use to annotate any Table of Content we'd want to build.

Sections
* Developer Guide Section Descriptions

[2020-12-08 00:59] geoffcline commented on #74
👀 I'll take a look

[2020-12-08 01:05] geoffcline commented on #77
👀

[2020-12-23 03:57] nate-double-u commented on #82
I've seen a couple versioning systems around Hugo in the CNCF ecosystem.

Subdomain versioning
* [Kubernetes website](https://kubernetes.io)
* [CNI](https://www.cni.dev) - @nate-double-u put this one together, and wrote up a [versioning howto](https://github.com/containernetworking/cni.dev#versioning-the-cni-website). The Kubernetes system is similar.

Folder versioning
* [Thanos](https://thanos.i

[2020-12-23 03:58] nate-double-u commented on #82
@sftim I know you're not on this project, but we have talked about Hugo versioning before. You mentioned that you've got a point of view on it, and I was wondering what your opinion is regarding best practices for versioning a Hugo site.

[2020-12-23 04:02] nate-double-u commented on #82
@chalin You've just finished helping gRPC do a [Docsy migration](https://github.com/grpc/grpc.io/issues/479). I don't see any versioning on the site, are there plans for versioning their docs?

[2020-12-23 10:22] sftim commented on #82
I think usually I'd prefer to go with the end-user experience that Thanos is offering, or something close to it. [`websitepreprocess.sh`](https://github.com/thanos-io/thanos/blob/6a183d0720393b8100882d115fb566afd9774470/scripts/website/websitepreprocess.sh) seems to be where the magic happens - credit to GitHub user @thisisobate.

What doesn't fit from the Longhorn approach? I'm guessing it's abou

[2020-12-23 20:12] nate-double-u commented on #81
All of the Weights and Documentation PRs have been merged into one PR: https://github.com/etcd-io/etcd/pull/12575

[2020-12-23 22:55] nate-double-u commented on #82
That exactly, and I think that there is a reasonably easy fix for that (I should open an issue). I ran into the same sort of problem when building out the CNI site.

I'll definitely be taking a look at that

[2020-12-23 22:57] nate-double-u commented on #82
@jberkus you'd mentioned that potentially there's a third way for versioning, where we wouldn't use the version in the URL at all. Is this better for SEO? I haven't seen any other CNCF sites doing it this way, but I'd be happy to research it.

[2020-12-29 00:28] nate-double-u commented on #82
Looking more closely at the Thanos.io model -- it looks like it also brings visitors back to the getting started page on version selection.

[2020-12-29 00:36] nate-double-u commented on #82
I've also been looking at cookies or potentially using query strings for managing versioning.

I think that using cookies is problematic as they'd break bookmarking.

Using query strings wouldn't break bookmarking, but I need to do some more research into how to implement them -- I don't think Hugo would manage them, but Netlify maybe able to help there. I'll report back when I know more.

[2020-12-29 12:45] sftim commented on #82
Static site generators and versions in query strings don't seem like they are going to play well with each other. There are some places where putting a version in a query string though.

[2020-12-29 20:23] nate-double-u commented on #82
TL;DR: Query strings don't solve our problem. Still research to be done.

I've done some testing with Netlify's redirects, and I agree @sftim, this is likely not the way to go.

You can see some of the work here: https://github.com/nate-double-u/cncf-hugo-netlify-starter/tree/versions-sandbox

Because these are just redirects, there's not a whole lot of smarts, and while I think I could probably w

[2020-12-29 22:23] nate-double-u commented on #82
Looks like Velero.io is doing their versioning the way we'd like ours to work: https://velero.io/docs/v1.5/
(and they've been kind enough to show us how they did it: https://github.com/vmware-tanzu/velero/tree/main/site/layouts/docs)

[2020-12-30 03:09] nate-double-u commented on #82
I've tried to build nav fix, but there are a couple todo items that I'm not sure that a. we need to handle, and b. how we should handle them if we do.

https://github.com/etcd-io/website/pull/86#issuecomment-752310501
(Mostly around the structural differences between the v2 and v3 documentation and how to deal with the resulting 404s)

Tangent: If we want to migrate the documentation from the code

[2020-12-30 19:08] nate-double-u opened #87 "Cleanup"
As per the Cleanup Section of the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65)

- [ ] 1. Fix 404s: we have a lot of lost pages. These need to get replaced with redirects.
- [x] 2. Shorten redirect chains (not sure how many of these we have)
- [x] 3. Add a Documentation tag to both the Etcd and Website repos so that we can start tracking docs issues.
  - [x] etc

[2020-12-30 19:33] thisisobate commented on #82
Hey @sftim @nate-double-u
Glad to see that my work on docs versioning at Thanos is being considered as a potential solution here.

I would also like to point out that we are continuing the work on docs versioning by making it a stand-alone tool which we called [Mdox](https://github.com/bwplotka/mdox)- please feel free to check it out.

We hope to make the tool more production-ready and stable.

To

[2020-12-30 21:46] sftim commented on #82
Hugo has [rendering hooks](https://gohugo.io/getting-started/configuration-markup/) for templates including `render-link`. Might those help?

[2020-12-30 22:28] nate-double-u commented on #82
In the [second PR I posted](https://github.com/etcd-io/website/pull/86/files#diff-0548eb28dd1d566de5085ec0194b594abc38c131bf64704d35e4445ab75221cd), I used a `replace` fn call after figuring out what the current version and new versions should be for any given link.

The downside to this is having to add a version to each top level `_index.md` file, but this isn't as bad as it could have been -- t

[2021-01-01 20:41] nate-double-u commented on #82
Latest push removes the "v" from the urls in `layouts/index.redirects`. This fixes the 404 page's `/docs/latest` link.

[2021-01-06 00:37] nate-double-u commented on #65
I apologize, I should have put this together sooner.

During the planning discussions for this improvement work, the idea of migrating the documentation from the [main code repo](https://github.com/etcd-io/etcd) to the [website repo](https://github.com/etcd-io/website) came up.

I think that if we want to do this, we should do it as a part of this project.

I also think we should do this. There ar

[2021-01-07 21:22] nate-double-u commented on #65
As a part of this Etcd.io Docs/SEO Improvement Plan, I'd like to suggest that we migrate the site to use the Hugo docsy theme.

Currently, anything that is not from the code repo's Documentation folder, or in the blog, is hardcoded into the layout html files, or has copy embedded in the config.toml file.

I think that reorganizing the site layout templates using the Hugo Docsy theme will make it e

[2021-01-12 18:07] #82 closed

[2021-01-12 21:03] nate-double-u opened #88 "Versioning: switching between versions on some (known existing) pages generates 404 error"
We are seeing 404s when switching between versions on some (known existing) pages.

Some files in v3.4.0 have had their names changed from using `_`s to using `-`s, and this is causing 404s when switching between the older versions and the latest one.

Known files (this may not be a complete list):
- Branch Management
  `content/docs/v3.4.0/branch-management.md`
  `content/docs/v3.3.13/branch_mana

[2021-01-13 04:04] #88 closed

[2021-01-13 04:10] spzala opened #90 "Broken links"
While switching to a different version in some cases, the resulting link gives 404 error.
For example, try to open any version (e.g. v3.4.0) from https://etcd.io/docs/v2/backward_compatibility/ The resulting link https://etcd.io/docs/v3.4.0/backward_compatibility/ is broken.

/cc @nate-double-u

[2021-01-13 18:36] nate-double-u commented on #90
I think this may be due to some pages that have been removed between v2 and v3.

I wonder if there is a better way of handling this 404 in these cases.

We may also want to look into some sort of link checking system generally to try to automate catching these.

[2021-01-13 18:41] nate-double-u commented on #90
Netlify looks like it supports 404s based on path:
https://docs.netlify.com/routing/redirects/redirect-options/#custom-404-page-handling

[2021-01-13 18:43] nate-double-u commented on #90
Related issue: https://github.com/etcd-io/website/issues/87

[2021-01-13 18:44] nate-double-u commented on #87
@spzala are you able to help with item 3?

[2021-01-14 21:37] ptabor commented on #65
Some docs are generated, e.g. from protos:
https://github.com/etcd-io/etcd/blob/69e99e80fa02a9120710039222ef085c6c36ea27/scripts/genproto.sh#L98,

so part of this script probably would need to be hosted in the 'docs' repo and pull source files from it.

[2021-01-14 23:33] nate-double-u commented on #65
Good to know, thanks @ptabor!

[2021-01-18 23:48] nate-double-u opened #93 "Migrate documentation: Add docs to etcd-io/website"
## Description

As per the conversation around the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65):

[Migrate the canonical documentation](https://github.com/etcd-io/website/issues/65#issuecomment-754989380) from the [etcd-io/etcd repo](https://github.com/etcd-io/etcd) to this repo.

## Deliverable

etcd.io has a new `current` version based on documentation from e

[2021-01-18 23:50] nate-double-u commented on #93
The pages that appear to be auto generated are:
* https://etcd.io/docs/v3.4.0/dev-guide/api_reference_v3/
* https://etcd.io/docs/v3.4.0/dev-guide/api_concurrency_reference_v3/

Neither of these pages appear to be linked to from other parts of the site though.

@ptabor, are there others that I'm missing?

[2021-01-19 00:11] nate-double-u opened #94 "Convert to Docsy"
As per the [conversation](https://github.com/etcd-io/website/issues/65#issuecomment-756393360) around the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65):

- [ ] Plan docsy migration https://github.com/etcd-io/website/issues/126
  - [x] Is Docsy migration still warranted? (after some cleanup and migration of docs to the website, is it still the best option? What a

[2021-01-22 21:55] nate-double-u commented on #65
Based on a conversation with @chalin (who worked on the [gRPC Docsy Conversion](https://github.com/grpc/grpc.io/issues/479)), I think the way I'd like to plan the next phases of work on this improvement plan are as follows:

1. Migrate/consolidate the existing documentation into the etcd-io/website repo. (https://github.com/etcd-io/website/issues/93)
   1.a. Clean up the existing site architecture

[2021-01-22 22:04] lucperkins commented on #65
@nate-double-u Could you possibly elucidate specific reasons why the current site should simply be discarded?

[2021-01-22 22:21] alisher-matkurbanov commented on #87
@nate-double-u do we need to handle broken links automatically or it can be fixed by hand?

[2021-01-22 22:25] nate-double-u commented on #87
I'm hoping we can automate some of the broken links work @alisher-matkurbanov.

I know that some of the links are broken due to how the site has changed between versions (see https://github.com/etcd-io/website/issues/90), for those links we'll probably need to think of a better way to handle links between versions, so that will likely need to be a manual change.

[2021-01-27 18:59] nate-double-u commented on #65
I've put together a spreadsheet for tracking tasks and estimating time.

https://docs.google.com/spreadsheets/d/1-ZQMPc_eQ0fh1pwOHv3NltwT-ifKA5UcFePfdFiWn8I/edit?usp=sharing

I'm hoping each line item can be made into an issue here on GitHub. It's not entirely complete yet, but as we move through the process we can add to and change it. I'm always happy for suggestions and feedback!

[2021-01-27 19:30] nate-double-u opened #96 "Migrate documentation: Manage generated docs in etcd-io/ectd"
## Description

As per the conversation around the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65):

Find out which docs are generated, how generated docs work, and how they're linked to the rest of the documentation and ensure a path for publication on etcd.io.

## Deliverable

Generated docs on etcd.io site linked into navigation. Instructions set on how to gene

[2021-01-27 19:32] nate-double-u commented on #96
Question originally from https://github.com/etcd-io/website/issues/93#issuecomment-762518396

The pages that appear to be auto generated are:
* https://etcd.io/docs/v3.4.0/dev-guide/api_reference_v3/
* https://etcd.io/docs/v3.4.0/dev-guide/api_concurrency_reference_v3/

Neither of these pages appear to be linked to from other parts of the site though.

@ptabor, are there others that I'm missing? (

[2021-01-27 19:38] nate-double-u opened #97 "Migrate documentation: Remove docs from etcd-io/etcd"
## Description

As per the conversation around the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65):

Replace existing documentation in [etcd-io/etcd](https://github.com/etcd-io/etcd) repo with signposts to new location on website (etcd.io).

## Deliverable

[etcd-io/etcd](https://github.com/etcd-io/etcd) Documentation folder points to etcd.io/docs

## Notes

- Sin

[2021-01-27 19:45] nate-double-u opened #98 "Migrate documentation: Site cleanup / prep"
## Description

As per the conversation around the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65):

Cleanup the existing site architecture (Bring prose out of config files, layout files, etc., and make the site generally more hugo-like)

## Deliverable

Site prepared for Docsy conversion

## Notes

- https://docs.google.com/spreadsheets/d/1-ZQMPc_eQ0fh1pwOHv3Nltw

[2021-01-28 00:14] nate-double-u commented on #97
/cc @spzala @jberkus

I think removal of these docs from the [etcd-io/etcd](https://github.com/etcd-io/etcd) repo can go a couple ways:
1. [Dex IdP model](https://github.com/dexidp/dex/pull/1810): where all the .md files were removed, and the top level documentation/README.md was altered with a note that the documentation files had moved to the website repo
2. [CNI Plugins model](https://github.co

[2021-01-28 02:19] spzala commented on #97
/cc @xiang90 @gyuho @jingyih

[2021-02-02 23:14] #93 closed

[2021-02-05 18:38] nate-double-u commented on #90
We could put together a UX solution to this -- right now we have a menu bar of all the versions, I'm thinking that if there isn't a page available in a given version that version's box gets greyed out. If clicked, it would bring you to that version's root page. The drop down menu should probably also bring the reader to that version's root page (rather than the 404).

[2021-02-10 21:39] #97 closed

[2021-02-10 22:16] rohitdurvasula commented on #97
@nate-double-u  any idea where does the etcd-mixin folder inside Documentation folder now reside ?

https://github.com/prometheus-operator/kube-prometheus used to depend on that.

[2021-02-10 22:19] spzala commented on #97
@rohitdurvasula ah, here, https://github.com/etcd-io/website/tree/master/content/docs/current/etcd-mixin Thanks!

[2021-02-10 22:22] nate-double-u commented on #97
If that location doesn't work and it needs to be back in this repo, let us know and we can see about restoring it. There are still a couple folders/files that have stayed in the Documentation folder here as they are a part of an automated system.

[2021-02-10 23:29] underrun commented on #97
this breaks installs of kube-prometheus and anyone else who may have depended on that jsonnet library.

really it was never documentation... please restore it :-)

[2021-02-10 23:33] nate-double-u commented on #97
I'll open a new PR to restore `etcd-mixin` shortly

[2021-02-10 23:46] nate-double-u commented on #97
We may want to open a separate issue at some point to move this out of the `Documentation` folder -- if it isn't documentation it's probably in the wrong spot.

[2021-02-11 02:10] spzala commented on #97
@nate-double-u yeah, we should. And also, we can comment it in the files about how they are being used.

[2021-02-11 18:46] nate-double-u commented on #96
Closing this with https://github.com/etcd-io/website/issues/93 and https://github.com/etcd-io/website/issues/97 being complete.

[2021-02-11 18:47] nate-double-u commented on #96
Closing this with https://github.com/etcd-io/website/issues/93 and https://github.com/etcd-io/website/issues/97 being complete.

[2021-02-11 18:47] #96 closed

[2021-02-23 01:58] spzala commented on #87
Sure, let's try to have some discussion on slack. Thanks!

[2021-02-23 17:26] nate-double-u commented on #87
@alisher-matkurbanov, PR https://github.com/etcd-io/website/pull/108 cleans up a lot of the broken links in the menu system, and cleans up all the broken links in the _current_ version. I think that the broken links that remain after it's merged will likely need to be looked at manually.

[2021-02-24 00:20] #90 closed

[2021-03-11 22:45] nate-double-u opened #110 "RFC: New Information Architecture"
As per the conversation around the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65), I've put together an Information Architecture to help guide the website changes and development of new pages on the site. I'm sharing it here as we discussed in the [March 11, 2021 etcd public meeting](https://docs.google.com/document/d/16XEGyPBisZvmmoIHSZzv__LoyOeluC5a4x353CX0SIM/

[2021-03-11 23:04] nate-double-u opened #111 "[etcd-io/website] Ensure that generated documentation gets merged into website automatically"
As per the discussion in the [March 11, 2021 etcd public meeting](https://docs.google.com/document/d/16XEGyPBisZvmmoIHSZzv__LoyOeluC5a4x353CX0SIM/edit#heading=h.2pcfcuck4vc), we need to ensure that generated documentation gets merged into website automatically on update.

Opening an issue in the website repo as well in case we need to make any changes here as well.

Related issues:
* etcd-io/etcd

[2021-03-15 21:33] chalin opened #113 "Use latest version of Hugo to build the site"
As of the time of creating this issue, the latest [release](https://github.com/gohugoio/hugo/releases) is 0.81.0. The currently used version, 0.65.0, is too old for docsy@HEAD.

cc @nate-double-u -- let's discuss an upgrade strategy.

[2021-03-15 23:34] chalin commented on #113
Also ensure that Netlify and Docker use the same Hugo version -- see, https://github.com/etcd-io/website/commit/1d7f38d24862efc22cb5ce671801a37f1604fa34#r48286087.

[2021-03-16 15:53] chalin opened #114 "Client feature matrix: link-only section headings cause problems"
Most section headings in [Client feature matrix (v3.3.12)][] and [Client feature matrix (v3.3.13)][] are links to corresponding API pages. For example, see https://github.com/etcd-io/website/blame/master/content/docs/v3.3.12/learning/client-feature-matrix.md#L23:

    ## [KV](https://godoc.org/go.etcd.io/etcd/clientv3#KV)

Generally speaking, this isn't good practice.

Specifically in our case, it

[2021-03-16 15:56] chalin commented on #113
FYI: I've checked the site files generated with Hugo 0.65 vs. 0.81 and the only problem I noticed was #114. We should probably resolve #114 first.

[2021-03-16 16:08] chalin commented on #113
Other than that, the Hugo upgrade fixes a number of Markdown mis-rendering.

For example, the columns with numbers in the [Benchmarks][] table are meant to be right-justified (according to the Markdown), yet they appear left-justified when compiled under 0.65:

Hugo 0.81 respects the Markdown:

[Benchmarks]: https://etcd.io/docs/current/op-guide/performance/#benchmarks

[2021-03-16 18:03] chalin opened #115 "Render-link hook generates unnecessary whitespace"
For example, consider this excerpt from **Docs > Operations guide > Configuration flags > [Clustering flags](https://etcd.io/docs/current/op-guide/configuration/#clustering-flags)**:

Notice the extra space after the opening parentheses in "( static ...)".

cc @nate-double-u

Related: https://github.com/grpc/grpc.io/issues/202

[2021-03-16 18:28] chalin commented on #114
/cc @spzala

[2021-03-16 18:28] chalin commented on #113
/cc @spzala

[2021-03-16 18:32] #115 closed

[2021-03-17 21:46] nate-double-u commented on #113
see https://github.com/etcd-io/website/pull/118

[2021-03-18 00:31] spzala commented on #114
Sounds good. Thanks @chalin

[2021-03-18 00:32] #114 closed

[2021-03-18 16:11] chalin opened #119 "Client feature matrix: copyedits, link updates, and CSS cleanup needed"
This is a followup to #114 & #118.

As a general rule, we shouldn't embed raw links in the documents -- unless the raw link is part of the document content (such as providing a sample URL).

My suggestions are, for each page, and each section:

- [ ] Remove the raw URL and instead add text like the following _after_ the **feature table**:

- [ ] Update all links that refer to `godoc.org`. E.g.:

[2021-03-18 16:15] chalin commented on #119
/assign @nate-double-u

(@spzala - I'm hoping that we can get maintainer access soon so that we can actually assign issues. Thanks)

[2021-03-18 16:16] chalin commented on #113
Thanks for moving things forward with #118, @nate-double-u!

[2021-03-18 16:17] chalin commented on #113
/assign @nate-double-u

(@spzala - I'm hoping that we can get maintainer access soon so that we can actually assign issues. Thanks)

[2021-03-18 16:22] chalin commented on #119
Actually, @spzala, if you have the necessary rights, can you grant us maintainer access to this repo?

[2021-03-18 17:37] nate-double-u commented on #119
On it :)

[2021-03-18 21:38] #119 closed

[2021-03-18 21:54] nate-double-u opened #121 "Add LICENSE"
The etcd-io/etcd repo is licensed under [Apache 2.0](https://github.com/etcd-io/etcd/blob/master/LICENSE).

I suggest we both license the website under Apache 2.0, and the documentation under CC-BY-4.0.

I like how the [Keptn project has done this in their website repo](https://github.com/keptn/keptn.github.io/pull/718), adding 2 LICENSE files, one for the site, the other for docs, and explaining

[2021-03-19 00:53] #113 closed

[2021-03-19 14:54] chalin opened #126 "docsy prep work"
- [x] Add docsy module from [cncf/docsy] repo, pinned to the [etcd.io branch]. @chalin --> #125
- [x] Merge #124 and #125 in that order. @nate-double-u
- [x] Create a branch named `docsy`. This is the branch against which we'll be creating docsy-related PRs.  @nate-double-u
- [x] Update the Netlify config so that previews are automatically built for the `docsy` branch. https://github.com/etcd-io/w

[2021-03-19 17:32] nate-double-u opened #127 "Update the Netlify config so that previews are automatically built for the docsy branch"
Update the Netlify config so that previews are automatically built for the docsy branch, ensuring that the docsy branch is not indexed by search engines.

Contributes to: https://github.com/etcd-io/website/issues/126, https://github.com/etcd-io/website/issues/94

/cc @chalin

[2021-03-19 18:08] nate-double-u commented on #127
Once we agree if #128 is needed or not, then I can add the `docsy` branch deploy in Netlfiy.

<img width="1046" alt="Screen Shot 2021-03-19 at 10 27 03 AM" src="https://user-images.githubusercontent.com/4453979/111824396-10bef780-88de-11eb-8c8b-f80e1f8e2225.png">

/cc @spzala

[2021-03-19 19:18] nate-double-u commented on #98
Closing as we're at the point of creating a docsy branch and moving on to that process. Any additional cleanup will be apart of https://github.com/etcd-io/website/issues/94 or https://github.com/etcd-io/website/issues/126.

[2021-03-19 19:18] #98 closed

[2021-03-19 19:28] nate-double-u commented on #127
With #128 merged, I've updated the Netlify settings as shown above. The next PR into the `docsy` branch should trigger a deployment preview build, with the x-robots-tag set.

I'll do a test PR to ensure this is running as expected.

[2021-03-19 19:30] nate-double-u commented on #110
An invitation for comment:
@spzala @jberkus @gyuho @jingyih @ptabor @xiang90 @jpbetz @hexfusion

[2021-03-19 19:40] nate-double-u commented on #127
PR https://github.com/etcd-io/website/pull/129 verified that PRs to the `docsy` branch do trigger a deploy preview, and that the preview generated has the `x-robots-tag` set to `noindex` meaning that this work shouldn't interfere with the site's SEO.

[2021-03-21 18:03] nate-double-u opened #131 "[Netlify] Alert: Insecure mixed content detected in etcd"
Insecure mixed content detected

Message from Netlify:

[See full deploy logs](https://app.netlify.com/sites/etcd/deploys/60573cbb8299340007dff7e4)

[2021-03-21 18:16] nate-double-u commented on #131
Issue is related to a deploy preview. Closing to look at the [PR that generated it](https://github.com/etcd-io/website/pull/130).

[2021-03-21 18:16] #131 closed

[2021-03-23 14:39] chalin commented on #127
@nate-double-u: IMHO, any `docsy` related commit/PR that doesn't impact site generation for `master` should be merged into `master`. That will help us keep the `docsy` branch as clean as possible, which, in turn, will help diminish the pains of repeated rebases (of `docsy` over `master`), and eventually the final merge of `docsy` into `master` (if/when that happens).

So, I'd suggest reopening thi

[2021-03-23 14:44] chalin commented on #126
@nate-double-u: maybe we can move/copy the "suggested process" to #94 and close this issue?

[2021-03-23 15:08] chalin commented on #121
Oh, sorry, I can't seen this issue -- copying my comment, https://github.com/etcd-io/website/pull/122#issuecomment-804966314, to here:

[2021-03-23 15:16] nate-double-u commented on #126
Do you have access to edit #94?

[2021-03-23 15:22] nate-double-u commented on #127
I agree with this.

[2021-03-23 15:30] chalin commented on #126
No 😞

[2021-03-23 15:34] chalin opened #134 "Convert to Docsy theme"
Supersedes #94, #126

As per the [conversation](https://github.com/etcd-io/website/issues/65#issuecomment-756393360) around the [Etcd.io Docs/SEO Improvement Plan](https://github.com/etcd-io/website/issues/65):

- [x] Plan docsy migration https://github.com/etcd-io/website/issues/126
  - [x] Is Docsy migration still warranted? (after some cleanup and migration of docs to the website, is it still t

[2021-03-23 15:37] nate-double-u commented on #126
Closing in favour of https://github.com/etcd-io/website/issues/134

[2021-03-23 15:37] #126 closed

[2021-03-23 15:38] nate-double-u commented on #94
closing in favour of https://github.com/etcd-io/website/issues/134

[2021-03-23 15:38] #94 closed

[2021-03-23 16:08] chalin opened #135 "Ensure that only the docs for actively selected version show up in the side-nav"
Contributes to #134

[2021-03-23 16:48] chalin commented on #127
(Re-)closed by #136

[2021-03-23 16:55] #127 closed

[2021-03-23 22:57] chalin opened #137 "Footer: streamline and bring closer to updated CNCF website guidelines"
Streamline the website footer and bring it closer to the updated [CNCF website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md). As an example of this see https://github.com/grpc/grpc.io/pull/716.

This can be done before and/or after #134.

[2021-03-23 23:09] chalin opened #138 "Use a Netlify _redirects file to hold redirects"
An advantage of using a [Netlify `_redirects` file][r] over putting redirect rules in a `netlify.toml`, is that you can now use the full power of Hugo's templating language to generate all or part of the contents programmatically. E.g., see https://github.com/grpc/grpc.io/blob/main/layouts/index.redirects.

[r]: https://docs.netlify.com/routing/redirects/

[2021-03-23 23:17] chalin commented on #135
@nate-double-u: Actually, I think that we can get a different kind of left-nav that is less overwhelming, e.g., see the one for grpc.io: https://grpc.io/docs/:

[2021-03-23 23:21] nate-double-u commented on #135
This might dovetail with the information architecture changes we're thinking about making with the Docs Improvement plan.

RFC on new architecture: https://github.com/etcd-io/website/issues/110

[2021-03-23 23:25] nate-double-u opened #139 "Check for obsolete files after initial docsy-conversion"
Question about whether or not we need some files still (some came in on a recent rebase)

Can we remove the following (check for yes, we can remove them):
- `layouts/_default/_markup/render-link.html`. Keep, but fix: #270
- [x] `layouts/partials/css.html` #388
- [ ] `layouts/robots.txt`
- `layouts/404.html`, keep as is ~(should we use the docsy default?)~
- [x] `package-lock.json`
- [x] `static/ap

[2021-03-23 23:26] chalin commented on #138
Oh, it's interesting to see that the config for this was already present:
https://github.com/etcd-io/website/blob/bee20df169f61082eb965d06b614a5383a960b49/config.toml#L133-L138

[2021-03-23 23:26] nate-double-u commented on #139
/cc @chalin

[2021-03-23 23:30] nate-double-u opened #140 "Setup Blog URL Permalinks"
_Originally posted by @chalin in https://github.com/etcd-io/website/pull/112#discussion_r600020880_

There are several ways to set up the blog URL permalinks
- [x] discuss best method for this site
- [x] set `[permalinks]` `blog` variable in `config.toml` based on discussion

[2021-03-23 23:32] nate-double-u commented on #138
That's probably my bad -- I think I added the ones in the netlify.toml.

[2021-03-23 23:43] chalin commented on #138
No worries. Actually, the `netlify.toml` file needs to be fully cleaned out.

[2021-03-23 23:44] nate-double-u opened #141 "Remove .lock files"
We'll be rebasing often, and I've found it a pain to rebase `.lock` files.

Actually, IMHO it isn't worth the headache of committing a `.lock` file for websites. In the case of etcd.io we only have a small set of dev dependencies. My suggestion would be to drop the `.lock` file from `master`, and propagate that change to here.

_Originally posted by @chalin in https://github.com/etcd-io/website/pu

[2021-03-23 23:45] nate-double-u commented on #141
- [ ] `yarn.lock`

[2021-03-23 23:45] nate-double-u commented on #141
/cc @chalin

[2021-03-24 00:30] nate-double-u commented on #134
We may want to break this issue into a new docsy followup issue. The initial work is done, and anything that is unchecked in the description above still needs to be done, will be done outside of an 'initial' setup.

[2021-03-24 00:38] chalin commented on #134
That works for me.

[2021-03-24 00:41] nate-double-u commented on #134
I'll leave the issue creation to you @chalin (so you're able to edit it...)

[2021-03-24 00:42] chalin commented on #134
Right, thanks!

[2021-03-24 13:52] chalin commented on #134
Actually, I'd vote to continue using this issue for a while longer. (Maybe we can discuss over Slack)

[2021-03-24 14:05] chalin opened #144 "README: update / drop "releasing a new version of docs" section"
Since #93, I don't think that the following text from the [README.md](https://github.com/etcd-io/website/blob/master/README.md) is accurate anymore, right @nate-double-u?

[2021-03-24 14:27] chalin opened #145 "Links to client v3 are broken"
PR #78 introduced one fix, but there are many more links of the same nature across the site.

/assign @chalin

[2021-03-24 14:35] chalin opened #146 "Replace coreos by etcd-io as an organization in links into GitHub"
Etcd's home organization is no longer https://github.com/coreos but rather https://github.com/etcd-io. Update links accordingly.

For example:

- From: https://github.com/coreos/etcd/blob/master/client/v3
- To: https://github.com/etcd-io/etcd/blob/master/client/v3

[2021-03-24 14:45] chalin opened #147 "vX.Y.Z doc pages with links into GitHub should link to vX.Y.Z not master"
For example, consider the following link from [etcd v3 API](http://localhost:1313/docs/v3.3.12/rfc/) under v3.3.12:

- Avoid using links to `master` because these can break over time:
  https://github.com/coreos/etcd/tree/master/contrib/recipes, **which no longer exists**
- Instead link to https://github.com/etcd-io/etcd/tree/v3.3.12/contrib/recipes, which is valid

/tag cleanup

[2021-03-24 14:47] chalin opened #148 "Links to client v2 should refer to v2"
As an example of the suggested change, taken from https://github.com/etcd-io/website/blob/master/content/docs/current/integrations.md:

- From: https://github.com/coreos/etcd/blob/master/client
- To: https://github.com/etcd-io/etcd/blob/master/client/v2

[2021-03-24 14:53] chalin opened #149 "Rename master branch to main"
In conformance to the inclusive naming initiatives of various organizations (including LF/CNCF, GH), `master` should be renamed to `main`. Note that it's been safe to do this for a while now given that GitHub handles the necessary redirects. For details, see:

- [github/renaming][]
- [Links to deleted branches now redirect to the default branch][]

Examples of repos across LF/CNCF that have rename

[2021-03-24 15:12] chalin commented on #39
Thanks for reporting this. It's finally getting fixed 😄

[2021-03-24 15:17] nate-double-u commented on #144
I agree, we'll need to update the README - i've added this issue to our omni-issue #134

[2021-03-24 15:18] nate-double-u commented on #145
related: https://github.com/etcd-io/website/issues/87

[2021-03-24 15:19] nate-double-u commented on #146
related: https://github.com/etcd-io/website/issues/87

[2021-03-24 15:20] nate-double-u commented on #148
related: https://github.com/etcd-io/website/issues/87

[2021-03-24 15:21] nate-double-u commented on #149
/cc @spzala @jberkus @gyuho @jingyih @ptabor @xiang90 @jpbetz

[2021-03-24 15:24] #141 closed

[2021-03-24 15:29] #145 closed

[2021-03-24 15:31] #39 closed

[2021-03-24 16:18] nate-double-u opened #152 "Revise Versioning Structure to MAJOR.MINOR"
During the [March 11, 2021 etcd public meeting ](https://docs.google.com/document/d/16XEGyPBisZvmmoIHSZzv__LoyOeluC5a4x353CX0SIM/edit#heading=h.2pcfcuck4vc) the question of when to cut new docs releases came up, and consensus seemed to be on MAJOR.MINOR releases of the main code.

I suggest that we structure the documentation releases the same way. This would affect both the underlying folder stru

[2021-03-24 16:19] nate-double-u commented on #152
@spzala @jberkus @gyuho @jingyih @ptabor @xiang90 @jpbetz @hexfusion @chalin

[2021-03-24 17:17] ptabor commented on #152
That's LGTM. Thank you.

[2021-03-24 19:06] hexfusion commented on #152
+1

[2021-03-24 19:20] jpbetz commented on #152
+1

[2021-03-24 19:23] gyuho commented on #152
+1

[2021-03-24 19:54] nate-double-u commented on #152
Added a column to the table to track the work and PR numbers.

[2021-03-24 22:11] chalin opened #155 "Clarify which versions the "current" docs are for"
Versions of the docs include the following:

- https://etcd.io/docs/current/
- https://etcd.io/docs/latest/, which redirects to v3.4.0 (as of the time of creating this issue)
- https://etcd.io/docs/v3.4.0/
- etc

What does the **current** version of the docs refer to? Are the docs meant to match [etcd-io/etcd](https://github.com/etcd-io/etcd) at:

- @HEAD
- latest **stable release**, which is [v3.

[2021-03-24 22:32] nate-double-u commented on #155
I'm glad you opened this issue, I was thinking about this earlier today, but wasn't quite sure how to present it.

[2021-03-24 22:42] nate-double-u commented on #155
When I made **current** it was intended to be as up to date with etcd-io/etcd as possible.
When a version was released, the idea was that you could just copy **current** over to a new folder (let's say **v3.4.15**), update the config.toml, and have a new version, and continue with **current** being as close to etcd-io/etcd as possible.

[2021-03-24 23:00] chalin commented on #155
That makes sense.

Maybe, then, it would make more sense to name it "next"? That is what [Angular](https://angular.io/docs) does:

Also, maybe the "default" docs should be the "latest".

[2021-03-24 23:27] nate-double-u commented on #152
`v3.3.13` ➔ `v3.3` and the removal of `v3.3.12` should be done at the same time. We can set the redirect for v3.3.12 to point at the new `v3.3`.

[2021-03-24 23:32] nate-double-u commented on #155
I'd be OK with that.

[2021-03-24 23:35] nate-double-u commented on #155
I'd be OK with that.

I had considered that as well. Whenever I see links to the docs in the etcd-io/etcd repo (comments, the odd readme), I've linked to **latest**. I'd be OK with making the **default** go there too.

[2021-03-24 23:39] nate-double-u commented on #155
My question is: what should we do with `v3.4.0`? Currently it's slated to me made into `v3.4`, at which point it will be out of date.

There looks like there is an alpha `v3.5.0` version in the works, which probably should be what **current** reflects (if **current** is going to be **next**),  and the new `v3.4` should reflect the existing `v3.4.15` (which **current** is closest to now).

[2021-03-25 15:13] chalin commented on #155
Was your previous comment meant for #152? If so, maybe move it there.

[2021-03-25 15:16] chalin commented on #155
So the "current" docs feature wasn't there before you consolidated the docs into this repo?

I can think of two solutions. The first one is to rename it to "next" and add explanatory text stating that the docs are WIP. Or, simply not publish the "next" docs, since they're WIP anyways. Thoughts?

[2021-03-25 15:38] nate-double-u commented on #155
It's probably relevant there too, but it's here as part of my thought process of this issue. (I think this issue and #152 are pretty closely linked)

[2021-03-25 15:43] nate-double-u commented on #152
A question came up while discussing issue #155: what should we do with `v3.4.0`? Currently it's slated to me made into `v3.4`, at which point it will be out of date.

There looks like there is an alpha `v3.5.0` version in the works, which probably should be what **current** reflects (if **current** is going to be **next**),  and the new `v3.4` should reflect the existing `v3.4.15` (which **current

[2021-03-25 16:05] nate-double-u commented on #155
Correct. (here's a deploy preview from just before i started working on this repo: https://deploy-preview-84--etcd.netlify.app/)

I think I'd be OK with renaming it, and marking it draft. We'd need to link the front page to `/latest/` and probably set a redirect for `/current` ➔ `latest`

@spzala @jberkus have you got any thoughts on `current`?

[2021-03-25 17:05] ptabor commented on #152
I would assume that current is 3.4.

Majority of users are expecting to find by default the most up-to-date documentation about currently stable version.

Only after stable release of 3.5.0, we should change 'current' to 3.5.0

[2021-03-25 17:12] chalin commented on #152
@ptabor - Thanks. That sounds consistent with what we're proposing, see https://github.com/etcd-io/website/issues/155#issuecomment-807010227

[2021-03-25 18:12] nate-double-u commented on #152
So, based on the conversation here and in #155, here's my plan:

During the for the `v3.4.0` ➔ `v3.4` move:
- [ ] move `v3.4.0` folder to `v3.4`
- [ ] update the "Docs" link on the front page to point to `v3.4`
- [ ] move `current` folder to `next`
- [ ] set the `next` folder to be draft, so it won't get published except in dev mode.
- [ ] update the redirects so that https://etcd.io/docs/current/

[2021-03-25 18:16] ptabor commented on #155
It would be good if 'developers' had access to the 'next/head' docs as they should ideally contain: fresh design-docs.

But the 'latest/stable' should stay as the default.

[2021-03-25 18:39] nate-double-u commented on #155
Thanks @ptabor, I've updated the plan over in https://github.com/etcd-io/website/issues/152#issuecomment-807213618, sorry to spread this over two issues, I just think they're pretty closely linked.

[2021-03-25 19:12] chalin commented on #155
Closing now that we've decided what to do with `current`.

[2021-03-25 19:12] #155 closed

[2021-03-25 19:15] nate-double-u commented on #152
I've updated the table in the description to reflect the conversation had in #155.

[2021-03-25 19:25] chalin commented on #46
Thanks for reporting these 404s. A fix is on the way!

[2021-03-25 19:31] #46 closed

[2021-03-25 21:37] #152 closed

[2021-03-25 21:39] nate-double-u opened #163 "Copy `next` into `v3.4`"
Based on the conversation in https://github.com/etcd-io/website/issues/152, https://github.com/etcd-io/website/issues/155, and https://github.com/etcd-io/website/pull/161:

Should we copy `next` (previously `current`) into `v3.4` now? `next` has the updated descriptions that were introduced when we migrated the docs over from etcd-io/etcd, and I think `next` best represents the latest `v3.4` versi

[2021-03-25 21:39] chalin commented on #152
Great job!

[2021-03-25 21:40] nate-double-u commented on #152
Thanks everyone!

[2021-03-25 21:55] nate-double-u commented on #163
@ptabor @chalin @spzala @jberkus

[2021-03-25 22:08] chalin commented on #163
I guess that it depends if it contains 3.5 changes.

[2021-03-25 22:11] nate-double-u commented on #163
I don't think it does yet. I haven't seen any new PRs with 3.5 changes -- though please correct me if I'm wrong @ptabor

[2021-03-25 22:16] nate-double-u commented on #163
I've updated the title and description of this issue for clarity.

[2021-03-25 22:23] nate-double-u opened #164 "Github incorrectly reports the etcd-io/website repo as mostly composed of Roff files"
![Screen Shot 2021-03-25 at 1 57 40 PM](https://user-images.githubusercontent.com/4453979/112551026-32c1e980-8db8-11eb-8e17-a51bb7e0042d.png)

I expect our repo is experiencing a similar issue to the one [reported here](https://github.com/github/linguist/issues/3613#issuecomment-302042763) due to all of the files ending in a number in the `/content/docs/vX.Y/metrics` folders.

[2021-03-25 23:41] nate-double-u commented on #134
After all the work around issue https://github.com/etcd-io/website/issues/152, I've rebased `docsy` onto `master` (have I got that phrase the right way around?) and it is building with the new docs version structure.

Deploy preview: https://605d1e5922cf8800084788f8--etcd.netlify.app/

[2021-03-26 17:15] chalin commented on #43
Thanks for reporting this, a fix is on the way!

@nate-double-u : can you assign this to me?

[2021-03-26 17:21] #43 closed

[2021-03-26 17:24] nate-double-u commented on #134
If we're keeping this issue open for a while, cc'ing folks for visibility :)
/cc @zacharysarah, @spzala, @jberkus

[2021-03-26 19:14] #148 closed

[2021-03-26 19:15] #144 closed

[2021-03-26 20:50] nate-double-u commented on #134
I've rebased `docsy` onto `master`.

Deploy preview: https://605e481068d09100070658d6--etcd.netlify.app/

(Let me know if these rebase updates aren't helpful. I' m sharing mostly as a heads up that it's been done, and that it has built successfully. As it's a branch and not a PR, i'm not sure quite how else to share this info.)

[2021-03-29 19:59] nate-double-u commented on #110
I'd like to propose a lazy consensus here. If no one objects or comments by 5:00 PM PST on Friday, April 2, 2021, I'll go ahead and start work as laid out in this proposed architecture.

[2021-03-29 22:00] nate-double-u opened #170 "Review metrics files"
In the `/content/docs/next/metrics` there are several large metrics log files.

[code]

Do we need these files? If so, I recommend moving each file into it's specific version folder, and out of `next`.

[2021-03-30 07:24] ptabor commented on #110
Thank you, Nate:

Are the "Themes" user visible or just internal conceptual grouping. It's not intuitive to me that 'Addition' = building solution on top of etcd vs contributing to etcd,
Maybe we should call sections by the target audience explicitly:
   - Getting started
   - For users
     - Administration
     - Reference docs
     - Trouble-shutting
     - Solutions
   - For contributors

[2021-03-30 16:23] #138 closed

[2021-03-30 16:46] nate-double-u opened #173 "Update deprecated version warning to reference `next`"
Currently the deprecation warning reads:

---

# You are viewing documentation for etcd version: v3.1

etcd v3.1 documentation is no longer actively maintained. The version you are currently viewing is a static snapshot. For up-to-date documentation, see the latest release, v3.4, or the current documentation.

---

It should refer to "... the latest release, v3.4, or the next version documentation

[2021-03-30 17:02] nate-double-u commented on #110
I think they are an internal conceptual grouping -- something that will inform how we restructure individual pages (like the front page), and how we link to pages in the TOC pages that @jberkus has suggested in #65.

I'm happy to rename the top 4 branches (among other things) if it makes it clearer.

Another goal I have is to not break bookmarks during this improvement project -- so that means eit

[2021-03-30 17:13] nate-double-u commented on #48
Closing issue as the images are now found on the https://etcd.io/docs/v3.4/learning/design-client/ page.

![Screen Shot 2021-03-30 at 10 12 40 AM](https://user-images.githubusercontent.com/4453979/113028746-2c968900-917b-11eb-9a7a-4d1eafe3b854.png)

[2021-03-30 17:13] #48 closed

[2021-03-30 17:22] nate-double-u commented on #40
Pages affected:
* https://etcd.io/docs/v3.4/op-guide/clustering/#dns-discovery
* https://etcd.io/docs/v3.3/op-guide/clustering/#dns-discovery
* https://etcd.io/docs/next/op-guide/clustering/#dns-discovery

@spzala, is the solution here to remove the paragraph at the end of the _DNS discovery_ section that references `-discovery-srv-name` on these pages?

[2021-03-31 15:08] #170 closed

[2021-03-31 19:09] nate-double-u commented on #65
Is this, https://github.com/google/docsy-example/pull/112#pullrequestreview-624867681, something we should consider for our docker image setup as well? I like the idea of not having to update it, but I also like the idea of keeping the version in lockstep with the Netlify version.

[2021-03-31 19:09] nate-double-u commented on #134
Is this, https://github.com/google/docsy-example/pull/112#pullrequestreview-624867681, something we should consider for our docker image setup as well? I like the idea of not having to update it, but I also like the idea of keeping the version in lockstep with the Netlify version.

[2021-04-01 00:23] chalin opened #175 "Consider using relref for build-time internal-link validation"
From https://github.com/etcd-io/website/pull/174#issuecomment-811539993:

[2021-04-01 13:22] chalin opened #177 "Docs landing page has a broken link, duplicate content, and more"
There are a number of problems with the [docs landing page](https://etcd.io/docs/), in particular:

- [ ] Left-nav drop-down title is `_index.md`
- [ ] The "Version _index.md home" link is invalid -- it points to `/docs/_index.md`
- [ ] The page contains a deprecation notice.
- [ ] The links to the doc versions is repeated.

Here is what the docs landing page currently looks like:

/assign @chalin

[2021-04-01 13:28] chalin opened #178 "Simplify section titles for docs and version landing pages"
- [ ] Most websites name the docs landing page simply **Documentation** or even **Docs**. Currently, the title is "The etcd documentation" -- given that this is the etcd website, there is an overemphasis here.
- [ ] Similar remarks apply to the landing page for each version of the docs

This redundancy / overemphasis will become even more obvious with breadcrumbs under the docsy theme, that will r

[2021-04-01 16:18] #177 closed

[2021-04-01 18:12] chalin opened #180 "Link checking: why do we have empty hrefs?"
In ` .htmltest.external.yml` drop `IgnoreEmptyHref: true` if possible.
Context: https://github.com/etcd-io/website/pull/174/files#r605292206

[2021-04-01 18:17] chalin opened #181 "Docs landing page: links to doc versions don't work"
To be clear: links to doc versions don't work for the links from:

- [ ] Left-nav drop-down
- [ ] "Versions of this doc" buttons

Reported: https://github.com/etcd-io/website/pull/179#issuecomment-812020594
Followup to #177

/assign @chalin

[2021-04-01 23:50] nate-double-u opened #183 "Sort links in footnotes section of pages"
For exapmle, the links at the end of https://raw.githubusercontent.com/etcd-io/website/master/content/docs/next/op-guide/runtime-configuration.md should be sorted.

_Originally posted by @chalin in https://github.com/etcd-io/website/pull/174#discussion_r605292505_

[2021-04-02 00:04] nate-double-u commented on #50
Hi @ChaitanyaKaranam, I'm looking at fixing links as a part of the docs improvement plan #65. I've already built a PR (#174) to fix all the internal links, and am looking at doing external links soon.

Did you use a program to build your spread sheet? I've added a `make check-all-links` to track them, but am interested in how you built out your sheet as well.

[2021-04-02 06:59] ChaitanyaKaranam commented on #50
I ran it through https://www.deadlinkchecker.com/website-dead-link-checker.asp it crawls through website and generates report. I used `https://etcd.io/docs/` as input to check all the dead links

[2021-04-05 17:30] #77 closed

[2021-04-05 17:54] nate-double-u commented on #50
Thanks for that. I've run it again, and it looks like we're down to 32 broken links, down from 327!

https://docs.google.com/spreadsheets/d/1TWDL6RHCEQiPK1G3PJcpne8UK74Eb2ZoCGOSoTBBECw/edit?usp=sharing

[2021-04-05 18:03] nate-double-u commented on #50
Though, when I run `make check-all-links` I get significantly more errors. So there's still some work to be done.

[code]

[2021-04-06 00:33] chalin opened #185 "etcd-mixin: drop files from website, update links to point to new home"
As things stand now, `etcd-mixin` is now found under https://github.com/etcd-io/etcd/tree/master/contrib/mixin (in particular note that it is _no longer_ under https://github.com/etcd-io/etcd/tree/master/Documentation). Some cleanup is in order:

- [x] All site links to any of the old locations of the `etcd-mixin` files should be updated to point to their new home under `etcd-io/etcd/contrib/mixin

[2021-04-06 15:18] chalin opened #188 "Remove lock example code"
There are `.go` source files and a README being published for a **lock example**, see:

- [lock example README][] -- I've inlined an excerpt below for your convenience
- https://etcd.io/docs/next/learning/lock/client/client.go
- https://etcd.io/docs/next/learning/lock/storage/storage.go

Questions for @spzala @ptabor:

- Like for the etcd mixin (https://github.com/etcd-io/etcd/pull/12686), should

[2021-04-06 15:25] chalin opened #189 "config: ignoreFiles entries are invalid"
The `config` file `ignoreFiles` entries are invalid. Here they are:

https://github.com/etcd-io/website/blob/40f9d7b01722519926945ec8df05b23af57f7509/config.toml#L8-L12

AFAICT from the [Ignore Content and Data Files when Rendering](https://gohugo.io/getting-started/configuration/#ignore-content-and-data-files-when-rendering), regex entries are already relative to `content` and `data` and so shoul

[2021-04-06 15:54] chalin commented on #189
/assign @chalin

[2021-04-06 17:10] #185 closed

[2021-04-06 18:12] #183 closed

[2021-04-06 18:41] nate-double-u commented on #188
I'd like to see this moved back to the `etcd-io/etcd` `contrib/` folder, but I'd also like to see the content reworked to better fit the docs site.

Maybe This is a good blog entry?

[2021-04-06 19:03] chalin commented on #188
Ok, how about doing this in two steps: (1) relocate, (2) create a followup issue to rework the content. That way we'll be able to continue making progress (w/o extra delay) towards our pre-docsy cleanup?

[2021-04-06 22:32] nate-double-u commented on #134
I've rebased `docsy` onto `master`.

Deploy preview: https://606ce0b4a13d70000809d224--etcd.netlify.app/

[2021-04-07 00:10] nate-double-u commented on #146
What should we do with the monitoring pages:
* https://etcd.io/docs/next/op-guide/monitoring/#debug-endpoint
* https://etcd.io/docs/v3.4/op-guide/monitoring/#debug-endpoint
* https://etcd.io/docs/v3.3/op-guide/monitoring/#debug-endpoint
* https://etcd.io/docs/v3.2/op-guide/monitoring/#debug-endpoint

The `coreos` mention here looks to be a report -- and both the `coreos` and `etcd` repos 404.

[2021-04-07 12:01] chalin commented on #173
/assign @chalin

[2021-04-07 12:25] chalin opened #192 "Deprecation warning: some links have empty references"
The following pages have empty references:

[code]

Related: #173, #180

/assign @chalin
/cc @nate-double-u

[2021-04-07 13:00] chalin opened #194 "Some external links are broken"
As of 2021/04/07:

[code]

/tag cleanup
/cc @nate-double-u

[2021-04-07 13:03] chalin opened #195 "External link cleanup: use https where possible"
/tag cleanup
/cc @nate-double-u

[2021-04-07 13:05] chalin commented on #194
I'll fix the first 404.

[2021-04-07 13:16] chalin commented on #181
Also notice how the formatting for the dropdown entries is slightly different:

E.g., the font of v3.4 is larger than that for v3.2. I suspect this isn't by design.

[2021-04-07 14:56] chalin opened #197 "Versions dropdown: fix styling"
Also notice how the formatting for the dropdown entries is slightly different:

E.g., the font of v3.4 is larger than that for v3.2. I suspect this isn't by design.

_Originally posted by @chalin in https://github.com/etcd-io/website/issues/181#issuecomment-814906043_

[2021-04-07 14:56] chalin commented on #197
/assign @chalin

[2021-04-07 16:07] #180 closed

[2021-04-07 16:07] #192 closed

[2021-04-07 16:08] #181 closed

[2021-04-07 16:12] nate-double-u commented on #194
Related: https://github.com/etcd-io/website/issues/50

[2021-04-07 16:45] nate-double-u commented on #195
[htmltest](https://github.com/wjdp/htmltest#basic-options) has an `EnforceHTTPS` option that may help with this.

[2021-04-07 17:29] chalin commented on #194
Oups, I missed #50. Closing in favor of #50.

[2021-04-07 17:29] #194 closed

[2021-04-07 18:59] nate-double-u commented on #188
Just a note, I closed #94 in favour of https://github.com/etcd-io/website/issues/134

[2021-04-07 21:44] nate-double-u commented on #134
I've rebased `docsy` onto `master`

Deploy preview: https://606e25ee56bfce0007e1c9b0--etcd.netlify.app/

[2021-04-07 21:45] nate-double-u commented on #134
I've rebased `docsy` onto `master`

Deploy preview: https://606e25ee56bfce0007e1c9b0--etcd.netlify.app/

[2021-04-07 21:52] nate-double-u opened #198 "Link checking: remove empty hrefs (`docsy` branch)"
In `.htmltest.yml` drop `IgnoreInternalEmptyHash: true`.
Context: https://github.com/etcd-io/website/pull/174/files#r605292206

See https://github.com/etcd-io/website/pull/193 for how it was corrected in `master`.

Related: https://github.com/etcd-io/website/issues/180

[2021-04-07 21:52] nate-double-u commented on #198
/cc @chalin

[2021-04-08 19:35] chalin opened #200 "Link to, or write a blog post about, the content of etcd/contrib/lock/README.md"
Consider writing a blog entry to include all or part of the content of https://github.com/etcd-io/etcd/blob/master/contrib/lock/README.md. Or, at a minimum, add a few sentences to **[Notes on the usage of lock and lease][LnL]**.

- Followup to #188
- Context: https://github.com/etcd-io/website/issues/188#issuecomment-814354984

[LnL]: https://etcd.io/docs/next/learning/why/#notes-on-the-usage-of-l

[2021-04-08 19:36] chalin commented on #188
The task is covered by #200. Closing this issue since the example has been removed.

[2021-04-08 19:36] #188 closed

[2021-04-08 21:06] chalin commented on #178
/tag docsy

[2021-04-09 14:46] chalin commented on #189
All done.

[2021-04-09 14:46] #189 closed

[2021-04-09 16:08] chalin commented on #198
/assign @chalin

[2021-04-09 16:23] chalin opened #206 "Port versions dropdown fixes to docsy"
Port #196 changes to the docsy branch.

/tags docsy
/assign @chalin

[2021-04-09 16:33] chalin opened #208 "Backport version-selector simplifications (#207) to master"
Backport version-selector simplifications (#207) to master

[2021-04-09 17:08] nate-double-u commented on #134
Rebasing `docsy` onto `master` after PR #207

Deploy preview: https://60708701f5bfe20007fa11c3--etcd.netlify.app/

[2021-04-09 17:13] nate-double-u commented on #137
related: #207

[2021-04-09 17:14] chalin commented on #137
Closed by #207

[2021-04-09 17:16] chalin commented on #206
Closed by #207

[2021-04-09 17:16] #206 closed

[2021-04-09 18:26] #137 closed

[2021-04-12 15:20] chalin opened #210 "[meta] Milestones"
@nate-double-u - how about creating milestones like these:

- 21Q1-pre-docsy
- 21Q2-docsy
- 21Q3-post-docsy

The prefix indicates an approximate quarter of when the work was started and/or will be finished. There three milestones will help us better organize our work -- vs. only using (or not using) the `docsy` tag.

Thoughts?

[2021-04-12 16:35] nate-double-u commented on #210
I've not used milestones in github yet, but agree, this seems like a good idea. Should I also open a kanban project board or is that too much at this point?

[2021-04-12 16:38] chalin commented on #210
Kanban feels like too much for now, thanks.

[2021-04-12 16:47] nate-double-u commented on #210
Milestones setup

[2021-04-12 16:47] #210 closed

[2021-04-12 18:44] chalin opened #211 "Docker config: always use latest Hugo extended version"
_Originally posted by @nate-double-u in https://github.com/etcd-io/website/issues/134#issuecomment-811357795_

[2021-04-12 19:01] #211 closed

[2021-04-12 20:57] nate-double-u commented on #135
closed with https://github.com/etcd-io/website/pull/213

[2021-04-12 20:57] #135 closed

[2021-04-12 20:57] nate-double-u commented on #178
closing with https://github.com/etcd-io/website/pull/213

[2021-04-12 20:57] #178 closed

[2021-04-12 21:14] nate-double-u commented on #134
Rebasing `docsy` onto `master`.

Deploy preview: https://6074b7548852d300089f3fc8--etcd.netlify.app/

[2021-04-12 22:58] nate-double-u commented on #134
Rebasing `docsy` onto `master`.

Deploy preview: https://6074cff477df2000077d4676--etcd.netlify.app/

[2021-04-12 23:10] chalin opened #215 "Ensure the homepage looks like (or better than) the original homepage"
/tag docsy
/assign @chalin

[2021-04-12 23:49] nate-double-u commented on #198
closed by #207

[2021-04-13 00:07] #198 closed

[2021-04-13 00:14] nate-double-u opened #216 "Fix internal broken "latest" links (`docsy` branch)"
When `make check-links` is run on the `docsy` branch, there are a lot of errors around the `latest` link. In `master` we get around this by flagging the link so the checker doesn't look at it, but it's not ideal -- it's best not to change the thing being tested for the benefit of the tester.

[docsy-branch-broken-internal-links.txt](https://github.com/etcd-io/website/files/6300446/docsy-branch-bro

[2021-04-13 12:48] chalin commented on #216
I'd consider this a "nice to have" rather than a MVP requirement. That being said, I'd like to suggest that we consider using https://www.npmjs.com/package/dart-linkcheck. I've used this tool on other projects and it is fast and works well. Btw, linkcheck runs over a _deployed_ (local or otherwise) site, not over the generated site files like what htmltest does.

[2021-04-13 13:56] caniszczyk commented on #121
can we get the LICENSE file back here in the repo

[2021-04-13 14:00] chalin commented on #121
@caniszczyk - are you ok with a single license file, as I suggested in my previous comment (for the reasons given)?

[2021-04-13 14:01] caniszczyk commented on #121
fine with me, we just need something in the repo that is either Apache 2.0 or CC-BY by default

[2021-04-13 14:03] chalin commented on #121
Thanks for the confirmation, I think that that is what @nate-double-u was waiting for.

[2021-04-13 16:44] nate-double-u commented on #121
I've updated https://github.com/etcd-io/website/pull/122

[2021-04-13 16:51] #121 closed

[2021-04-13 16:57] nate-double-u commented on #134
Rebaseing `docsy` onto `master`.

Deploy preview: https://6075cced8fc5150008dfe917--etcd.netlify.app/

[2021-04-13 16:59] chalin opened #217 "This repo is 97.2% Roff, really?"
According to GitHub, this repo is 97.2% [Roff](https://en.wikipedia.org/wiki/Roff_(software)), which is probably just an indication that we have improper (or missing) file suffixes somewhere:

[These are the files](https://github.com/etcd-io/website/search?l=roff) that GH thinks are Roff files.

/milestone 21Q3-post-docsy

[2021-04-13 17:08] nate-double-u commented on #217
Related: https://github.com/etcd-io/website/issues/164

[2021-04-13 17:10] nate-double-u commented on #217
Closing as duplicate.

[2021-04-13 17:10] #217 closed

[2021-04-13 17:12] nate-double-u commented on #164
@chalin https://github.com/etcd-io/website/issues/217#issue-857152994

[2021-04-14 04:11] tacerus opened #218 "Getting Started"
Hello,

maybe I am too dumb to navigate - however after spending several minutes search your documentation, and finding all kinds of interesting information, I was unable to find a basic installation ("Getting started") guide. The most I found was how to compile and run the binary as well as details on the configuration syntax - great, but now what do I do with it?

Cheers,
Georg

[2021-04-14 16:28] nate-double-u commented on #218
Hi Georg,

Thanks for this. We are going through a docs improvement project now, #65, and a getting started guide is definitely in the plans.

[2021-04-14 23:09] nate-double-u commented on #215
closed with #219

[2021-04-14 23:09] #215 closed

[2021-04-15 00:17] spzala opened #220 "Changing "Next" to "Upcoming version""
The "Next" under https://etcd.io/docs/ seems missing something - can we change it to "Upcoming" or "Upcoming version" or "Current development" something like that.
Also, once clicking Next, under https://etcd.io/docs/next/ it shows "Next Doc" which is also little difficult to read.

Opening this issue for brainstorming.

@nate-double-u @chalin @ptabor @gyuho

[2021-04-15 00:22] chalin commented on #220
I agree. I don't find "next" suitable, or very communicative of what the docs are -- but it seemed better than the previous name, "current".

I think that we should be explicit say which version these are a draft of, e.g.: **v3.5.0 DRAFT Docs** (or whatever the next release will be).

Thoughts?

[2021-04-15 00:35] chalin commented on #220
Just for context, the suggestion for "next" was inspired, in part from sites like: https://next.angular.io/docs (vs. the latest stable version being at https://angular.io/docs) -- angular also has "rc" docs for release candidates (not something I believe we need for etcd).

[2021-04-15 13:08] chalin opened #222 "Triage page doesn't link to PR guidelines"
Currently, https://etcd.io/docs/next/triage/ looks like thits:

It is missing a link to https://etcd.io/docs/next/triage/prs/

/tag cleanup
/milestone 21Q1-pre-docsy
/assign @chalin

[2021-04-15 13:12] chalin opened #223 "Doc pages: all headings should be at level 2 or higher"
Under docsy it becomes obvious when pages have headings at level 1, for example, see https://docsy--etcd.netlify.app/docs/v3.4/rfc/v3api/:

![image](https://user-images.githubusercontent.com/4140793/114874725-972a0480-9dca-11eb-970f-fd9751e2f01d.png)

Note how the **Design** heading:

- Doesn't appear in the TOC
- Is styled just like the page title

/milestone 21Q1-pre-docsy
/tag cleanup
/assign @

[2021-04-15 15:33] chalin opened #228 "Footer: the "user" and "developer" links should refer to etcd resources"
The "user" and "developer" links/icons in the footer still refer to the docsy-example defaults. They should refer to etcd resources.

 should refer to etcd resources
/tag docsy
/milestone 21Q2-docsy
/assign @chalin

[2021-04-15 15:39] chalin commented on #220
- [ ] Propagate this change to the `docsy` branch

[2021-04-15 15:40] chalin commented on #220
All: https://github.com/etcd-io/website/pull/226 is a proposed fix for this. PTAL

[2021-04-15 16:28] #222 closed

[2021-04-15 16:34] #223 closed

[2021-04-15 17:24] nate-double-u commented on #216
fixed in https://github.com/etcd-io/website/pull/227

[2021-04-15 17:24] #216 closed

[2021-04-15 17:37] nate-double-u commented on #228
closed in #229

[2021-04-15 17:37] #228 closed

[2021-04-15 17:58] chalin opened #234 "Drive navbar-version-selector range from /docs/ subsections"
Drive navbar-version-selector range from /docs/ subsections rather than config file entries.

/tag docsy
/milestone 21Q3-post-docsy

[2021-04-15 17:59] chalin opened #235 "navbar-version-selector version target: work with Page objects rather than File objects"
/tag docsy
/milestone 21Q3-post-docsy

[2021-04-15 18:12] chalin opened #236 "Add warnings to DRAFT and DEPRECATED pages"
/tag docsy
/milestone 21Q2-docsy

[2021-04-15 18:14] chalin commented on #236
Once #134 is merged, this will deprecate #173 if it hasn't already been addressed.

[2021-04-15 18:22] nate-double-u commented on #134
Rebasing `docsy` onto `master`.

Deploy preview: https://607883c23903f00008a0377b--etcd.netlify.app/

[2021-04-15 19:43] chalin commented on #220
@spzala et al: on the docsy branch, #237 in addition proposes the addition of a warning banner at the top of the "next" doc pages. For example:

[2021-04-15 20:30] chalin opened #238 "Create a custom 404 page"
/tag docsy
/milestone 21Q2-docsy

I suggest simply bringing over the grpc.io 404 page.

[2021-04-15 22:03] nate-double-u commented on #140
closed with #239

[2021-04-15 22:03] #140 closed

[2021-04-15 22:05] chalin commented on #236
Closed by #237

[2021-04-15 22:05] #236 closed

[2021-04-15 22:33] nate-double-u commented on #238
closed by #240

[2021-04-15 22:33] #238 closed

[2021-04-16 12:51] chalin opened #241 "[docsy] Reinstate metrics"
![image](https://user-images.githubusercontent.com/4140793/115026624-b8edbf00-9e90-11eb-8afa-a2b9a24aad84.png)

/tag docsy
/milestone 21Q2-docsy

[2021-04-16 17:13] nate-double-u commented on #241
closed by #242

[2021-04-16 17:13] #241 closed

[2021-04-19 05:53] ChaitanyaKaranam commented on #50
This looks much better. This should work.

[2021-04-21 17:42] nate-double-u commented on #87
I think the work in the  `layouts/index.redirects` address point 2 here.
#172, #187, #190, #191

[2021-04-23 22:11] nate-double-u commented on #173
closed by https://github.com/etcd-io/website/issues/236

[2021-04-26 17:29] #134 closed

[2021-04-26 18:01] #50 closed

[2021-04-26 18:01] #87 closed

[2021-04-26 18:01] #146 closed

[2021-04-26 18:02] nate-double-u opened #245 "Remaining broken external links"
I've gotten this to a point where there are a handful broken links left, and I'm not sure where they should point:

docs/v3.4/learning/why/index.html
* Non-OK status: 404 --- docs/v3.4/learning/why/index.html --> https://godoc.org/github.com/coreos/etcd-io/etcdserver/api/v3election/v3electionpb

docs/v3.3/learning/why/index.html
* Non-OK status: 404 --- docs/v3.3/learning/why/index.html --> https:

[2021-04-26 18:08] nate-double-u commented on #245
`make check-all-links` output:

[code]

_Note_: the 416 status errors aren't broken links. Some investigation likely needs to be done to sort them out too, but the links do work.

[2021-04-26 18:12] nate-double-u commented on #134
@chalin could you open a `Post-docsy conversion` issue based on the _Post-docsy conversion_ section of this issue's description so we continue to have a tracking issue for the remaining docsy work?

Or would you prefer:
1. to just use the Milestone system to track that remaining work
2. to reopen this issue
3. other

[2021-04-26 18:25] nate-double-u opened #246 "Fix github links on docs pages"
Edit this page
Create child page

Currently these links are incorrect

for example, on https://etcd.io/docs/v3.4/rfc/v3api/,
Edit this page expected:
https://github.com/etcd-io/website/edit/master/content/en/docs/v3.4/rfc/v3api.md

Edit this page actual:
https://github.com/etcd-io/website/edit/docsy/content/en/docs/v3.4/rfc/v3api.md

Create child page expected:
https://github.com/etcd-io/website/n

[2021-04-26 18:25] nate-double-u commented on #246
/cc @chalin

[2021-04-26 18:28] nate-double-u commented on #246
Fix: update https://github.com/etcd-io/website/blob/ae1b7f61eebbcffe633d0e8551b8995f55dcee62/config.toml#L99

[2021-04-26 18:30] chalin opened #247 "Post-docsy conversion"
Followup to #134.

[2021-04-26 18:34] chalin commented on #134
Done: #247

[2021-04-26 18:35] chalin commented on #246
For the record, this was the first post-docsy todo item listed in #134.

[2021-04-26 18:42] nate-double-u commented on #246
closed by https://github.com/etcd-io/website/pull/248

[2021-04-26 18:42] #246 closed

[2021-04-26 18:43] chalin commented on #220
@spzala - can we close this now that new docsy-themed site implements the changes suggested above?

[2021-04-26 18:51] nate-double-u commented on #173
Closed with https://github.com/etcd-io/website/pull/244

[2021-04-26 18:51] #173 closed

[2021-04-26 18:53] nate-double-u commented on #208
obsoleted by https://github.com/etcd-io/website/pull/244

[2021-04-26 18:53] #208 closed

[2021-04-26 19:33] chalin opened #249 "Reenable analytics"
/milestone post-docsy
/assign @chalin

[2021-04-26 19:44] nate-double-u commented on #249
With https://github.com/etcd-io/website/pull/250 merged in, could you verify that analytics is working before we close this issue @chalin?

[2021-04-26 19:47] chalin opened #251 "Use YAML for the site config and file front matter"
Now that we've migrated to docsy, I'd suggest that we convert the config file to YAML. While TOML is great for _really_ simple config files I find it difficult to read when there's lost of nested config like we have. YAML has other features I've found useful on other CNCF sites.

/milestone post-docsy

[2021-04-26 19:48] chalin commented on #249
I can confirm that the site pages now contain the analytics tag. (That's all I can confirm atm)

[2021-04-26 19:50] #249 closed

[2021-04-26 19:51] nate-double-u commented on #251
I agree with this -- I find YAML much more human friendly too.

[2021-04-26 20:12] chalin opened #252 "Use only real version names, not `next`, for doc version subdirectories under /content"
@spzala et al: I'd like to propose that all our doc version subfolders name the version they are targeting. That is currently the case except for the special `/docs/next`. Some drawbacks of using `/docs/next` as part of permalinks include the following:

- This muddles analytics
- It makes releasing a new version of the docs a bit more work (for details, see the following thread: https://github.co

[2021-04-26 20:19] chalin opened #253 "Branch management pages: avoid raw URLs in the page text"
Context: https://github.com/etcd-io/website/pull/203#discussion_r618563217

/tag cleanup

[2021-04-26 23:50] nate-double-u opened #256 "Correct UI Feedback links in config file"
Currently the UI feedback is using a default URL:

https://github.com/etcd-io/website/blob/c09171ef0e1524e1aed31fa5fd9085fd38a6217a/config.toml#L149-L150

[2021-04-27 16:47] #251 closed

[2021-04-27 16:59] nate-double-u commented on #149
@spzala, @chalin and I were thinking that since we've gotten the Docsy conversion in, that we might do this branch rename soon. I'm not able to make the branch name change, so I've assigned the issue to you.

[2021-04-27 20:30] #253 closed

[2021-04-27 20:31] #256 closed

[2021-04-28 16:22] #164 closed

[2021-04-28 16:30] nate-double-u commented on #164
![Screen Shot 2021-04-28 at 9 29 13 AM](https://user-images.githubusercontent.com/4453979/116439373-feba6800-a83e-11eb-9693-c892ae5ab1cf.png)
This makes more sense :)

[2021-04-29 06:35] kana112233 opened #265 "Why can't I see "Xiang Li’s video" at the v3api's Overview?"
https://etcd.io/docs/v3.4/rfc/v3api/
see Xiang Li’s video
[see Xiang Li’s video](https://www.youtube.com/watch?v=J5AioGtEPeQ&t=211s)

[2021-04-29 17:00] nate-double-u commented on #265
/cc @xiang90

[2021-04-29 17:03] nate-double-u commented on #265
I'm not sure. It's also unavailable through the web archive (though it was captured)
https://web.archive.org/web/20190113041751if_/https://www.youtube.com/watch?v=J5AioGtEPeQ

[2021-04-29 17:53] xiang90 commented on #265
I do not really know. I do not have a cope of that either :(

[2021-04-30 03:08] tangcong opened #266 "can we lowercase "etcd" uniformly in the document?"
can we lowercase etcd uniformly in the document, so that it looks more beautiful and standardized? thanks.
![image](https://user-images.githubusercontent.com/2403673/116643477-bff1f280-a9a3-11eb-9a93-9e98d625766f.png)

[2021-04-30 15:35] nate-double-u commented on #266
There are some instances of "Etcd" in the text which should probably be made lower case, but for the header I'd expect this to be a scss change somewhere.

[2021-04-30 16:11] nate-double-u commented on #110
I've re-done the colour scheme on the new IA diagram
* pink = new pages/sections
* orange = moved (in relation to their peer pages)
* green = no change (in relation to their peer pages)

[2021-05-04 21:20] chalin opened #267 "New IA implementation"
Reference: #110

[2021-05-05 20:09] dpuig opened #268 "Update the Setting a key section in the Download and build documentation"
Greetings, i'm using `etcdctl`, i was consulting the documentation and  saw this little detail
https://etcd.io/docs/next/dl-build/#setting-a-key

[code]

We are using `etcdctl 3.2.26` and `set` should be the command for Set a Key

[code]

[2021-05-05 20:49] chalin commented on #267
@nate-double-u: good first pass. Here are some suggestions for the "sitemap" (which isn't really a sitemap -- maybe we should call it "Permalink structure"):

- [ ] Drop the "homepage" node, and left-shift all entries below it. We know everything is rooted below the homepage, and besides, we have a separate section for discussing the "homepage"
- [ ] Add the permalink path name to each node: e.g.

[2021-05-05 20:59] chalin opened #269 "External links should be decorated with an external-link icon"
/ tag design

[2021-05-05 21:08] chalin opened #270 "Render link hook shouldn't rewrite paths"
The [render-link][] hook is currently rewriting URL paths for non-external links using the `.GetPage` feature (see line 8 below):

https://github.com/etcd-io/website/blob/6fdc098901e1d37080c6e6c1d506074048002d2c/layouts/_default/_markup/render-link.html#L1-L16

IMHO, the render-link hook is useful for changing the appearance of links (e.g., see #269), but it shouldn't rewrite URLs. The  [relref][]

[2021-05-05 22:22] nate-double-u commented on #267
Good question. I think I will move them under the versioning.

Also, what about pages like /docs/v3.4/triage(/issues), or /docs/v3.4/upgrades? Should they be removed from under versioning? I expect that the process of opening a ticket won't change from version to version. Upgrades is a list of X.Y to X.Z upgrades, so is mostly duplicated content.

[2021-05-05 23:29] nate-double-u commented on #268
Thanks @dpuig

This may also affect the following pages:
* https://etcd.io/docs/v3.4/dl-build/#test-the-installation
* https://etcd.io/docs/v3.3/dl_build/#test-the-installation
* https://etcd.io/docs/v3.2/dl_build/#test-the-installation
* https://etcd.io/docs/v3.1/dl_build/#test-the-installation

[2021-05-06 15:02] chalin commented on #65
What should be done (if anything) with https://github.com/etcd-io/etcdlabs, which is live at http://play.etcd.io/home?

[2021-05-06 17:05] nate-double-u commented on #267
While we go through this process we should consider standardizing "-" vs "_" in links.

[2021-05-06 18:15] chalin commented on #220
/milestone 21Q2-docsy @nate-double-u

[2021-05-06 22:52] Yiyiyimu opened #271 "Instruction errors in `Run etcd clusters inside containers`"
In https://etcd.io/docs/v3.4/op-guide/container/#running-a-3-node-etcd-cluster-1

1. `latest` tag of `gcr.io/etcd-development/etcd` is 3.3.12 and `quay.io` even more outdated that uploaded three years ago. Why don't we use `bitnami/etcd`. Ref: [gcloud](https://console.cloud.google.com/gcr/images/etcd-development/GLOBAL/etcd?gcrImageListsize=30&gcrImageListquery=%255B%257B_22k_22_3A_22_22_2C_22t_22

[2021-05-06 23:03] spzala commented on #268
@dpuig thanks for reporting @nate-double-u thanks for the ping - `set` was used in v2 api and replaced with `put` in the v3 long time back. The v2 api's not actively supported and most v2 specific docs are removed, so I don't see a need for adding it in the current docs and this was also discussed in the past.  The `set` and other v2 commands are mentioned in here https://github.com/etcd-io/etcd/b

[2021-05-07 09:15] wpedrak opened #272 "Prometheus metrics not supported on macOS"
When docs https://etcd.io/docs/next/metrics/#prometheus-supplied-metrics states that prometheus is exporting bunch of `process_*` metrics, this is not true for darwin. It might be worth to mention it.

Context: https://github.com/etcd-io/etcd/issues/12899

[2021-05-10 05:42] NOWYOU opened #275 "Why not give some other language version to user ?"
I hope etcd can provide other languages version, such as Japanese, Chinese, French as so on. Thank you,

[2021-05-10 21:50] chalin opened #276 "Review supported-platform page"
This is a followup issue to #273. For context, see https://github.com/etcd-io/website/pull/273#issuecomment-837366577.

[2021-05-10 22:45] nate-double-u commented on #275
Hi @NOWYOU, I think internationalization would be a great project to embark on.

Currently, we're working on [a documentation improvement project](https://github.com/etcd-io/website/issues/65). As a part of it, we've moved to the [Docsy](https://www.docsy.dev/) Hugo theme, and have moved the existing documentation into the `content/en` folder to prepare for any internationalization work that may b

[2021-05-11 14:42] chalin commented on #149
@spzala - a friendly ping, since it's been two weeks: might you be able to perform the rename or give @nate-double-u or me the necessary permissions?

[2021-05-11 19:48] #276 closed

[2021-05-12 01:31] gyuho commented on #149
Just made @chalin and @nate-double-u admin for this repository. Please feel free to move forward with the renaming.

[2021-05-12 07:26] lilic opened #280 "[3.5] Add initial docs for experimental distributed tracing feature"
With https://github.com/etcd-io/etcd/pull/12919 merged, we want to add a new section for Experimental Distributed Tracing. Docs are not my strength but I can give it a shot, I was thinking of adding:
- Warning at the start that this is experiential and API and features might change
- Describe each flag
- Mention this supports OpenTelemetry collector but I don't think we should go too much into det

[2021-05-12 07:34] gyuho commented on #280
I think we can add around https://github.com/etcd-io/website/blob/master/content/en/docs/next/op-guide/monitoring.md#prometheus as a section "Distributed tracing"?

I think once we have those in monitoring doc, we can discuss separating them out with @nate-double-u @chalin ?

[2021-05-12 09:44] lilic commented on #280
That sounds good, will work on this after 3.5 code freeze.

[2021-05-12 14:10] spzala commented on #149
@gyuho thanks! @chalin sorry for the delay, got caught up with Kubecon activities last week.

[2021-05-12 15:13] chalin commented on #149
Done!

FYI, here is what GitHub had to say:

**If you have a _fork_** of this repo, you should visit your fork and rename the default branch to `main` as well -- in fact GitHub will invite you to do so.

**If you have a _local clone_**, you can update it by running the following commands provided by GitHub (this will work for most folks):

[code]

[2021-05-12 15:16] chalin commented on #149
Netlify is now also deploying from `main`:

[2021-05-12 15:16] #149 closed

[2021-05-12 17:37] nate-double-u opened #283 "Update `git_version_tag` with release of v3.4.16"
With the [release of v3.4.16](https://groups.google.com/g/etcd-dev/c/aqRMfFxF9vo/m/-kixJAI2AwAJ), the `git_version_tag` in the v3.4 section needs to be updated.

File affected: `content/en/docs/v3.4/_index.md`
Action: update `git_version_tag` to `v3.4.16`

[2021-05-12 17:49] nate-double-u opened #284 "Update references to etcd-io/etcd master branch"
As the `master` branch in [etcd-io/etcd](https://github.com/etcd-io/etcd) is being renamed to `main`, the documentation will need to be updated throughout.

Related issues: https://github.com/etcd-io/etcd/issues/12949, https://github.com/etcd-io/etcd/pull/12956, #149, #282

[2021-05-12 18:08] chalin commented on #284
I've tagged this as cleanup and of low priority since GH redirects any requests of a non-existant branch to the default branch. So we shouldn't get any 404s (and so isn't critical), but it will be nice to clean it up at some point.

[2021-05-15 18:38] chalin commented on #267
So in a nutshell, based on the reading of the docs I’ve done this week (05/09), here’s what I’m feeling needs to be done:

- Finalize a **Get started** page (considering the ectd README version, possibly).
  Then link to that page from the homepage (which will mean that we need a v3.4 version)
- Consider (re-)writing an **Installation** page, maybe using the download/build page as a base (but remo

[2021-05-15 21:13] nate-double-u commented on #267
I had initially tried to [organize the IA](https://github.com/etcd-io/website/issues/110) into an _Evaluation, Addition, Fix, and Features_ model; would a _Concepts, Tasks, Tutorials, and Reference_ model (like on the [k8s.io/docs](https://kubernetes.io/docs/home/) page) be a better model to go with given what we've got already built out?

[2021-05-17 17:37] nate-double-u opened #287 "Netlify builds failing on simple changes"
**Problem:**
Netlify builds are failing on simple changes. See PRs https://github.com/etcd-io/website/pull/274, https://github.com/etcd-io/website/pull/286

[2021-05-17 17:40] nate-double-u commented on #287
Deploy logs:
* #274: https://app.netlify.com/sites/etcd/deploys/609806163558e20007bf2f52
* #286: https://app.netlify.com/sites/etcd/deploys/60a273d1fa2b610007e6f0e9

[2021-05-17 17:42] nate-double-u commented on #287
Both PRs look like simple text changes that shouldn't have broken the build. One commonality between these two PRs is that they both look to have been made using the GitHub web edit system.

[2021-05-18 16:23] chalin commented on #287
AFAICT, all preview builds are failing (e.g., I cleared the cache and restarted the build of #288, and it's build is failing too) and this seems to be since the release of Node 14.17.0.

For some reason, prior to v14.17.0 (or maybe it's due to an update in `npm`?), Node/npm made sense of script names of the form `prefoo` and it's pre hook, `preprefoo`. That doesn't work anymore, so the script `pre

[2021-05-18 16:26] #287 closed

[2021-05-18 19:02] nate-double-u opened #290 "Turn off wiki feature on etcd-io/website"
Since we aren't using it, and it doesn't really make sense to have the wiki feature turned on for this website, I suggest we turn it off.

I'd like to propose a lazy consensus here. If no one objects or comments by 5:00 PM PST on Friday, May 21, 2021, I'll go ahead and turn off the feature.

/cc @spzala @gyuho @chalin

[2021-05-18 19:04] hexfusion commented on #290
+1 if someone would like to use it we can turn it back on.

[2021-05-19 15:27] #218 closed

[2021-05-21 19:25] nate-double-u commented on #265
I think the fix to this is likely to revise the copy to remove this link. Since it's really a dead link, we should probably remove it from the older pages as well.

Affected files:
* content/en/docs/v2.3/rfc/v3api.md
* content/en/docs/v3.1/rfc/v3api.md
* content/en/docs/v3.2/rfc/v3api.md
* content/en/docs/v3.3/rfc/_index.md
* content/en/docs/v3.4/rfc/v3api.md

[2021-05-21 19:39] nate-double-u commented on #252
Setting e1-hours and p1-high. I don't think this will take that long to do, but it's important that we make a decision around how we name our upcoming versions moving forward.

[2021-05-21 19:41] nate-double-u commented on #252
I agree with the proposal that all our doc version subfolders **name the version** they are targeting.

[2021-05-21 19:42] chalin commented on #252
Think about this more, an alternative would be to keep `next` but define a redirect rule based on the eventual version that `next` will be.

[2021-05-21 19:44] #268 closed

[2021-05-21 19:49] #283 closed

[2021-05-21 19:54] #163 closed

[2021-05-21 20:01] chalin opened #296 "Versions menu: visually distinguish page vs. version-home targets"
If you're on page P, the versions menu will contain links to P in all other versions that have such a page. When there is no such page for version vX.Y then ` /docs/vX.Y` is used as a target. Currently, there is no visual cue to distinguish between these, but there should be.

[2021-05-21 20:05] chalin opened #298 "Release guide: is this still being used, does it need updating or should it be dropped?"
From https://github.com/etcd-io/etcd/issues/12923#issuecomment-844310107:

/cc @hexfusion @ptabor @gyuho @spzala @nate-double-u

[2021-05-21 20:11] #265 closed

[2021-05-21 20:22] chalin commented on #298
Also, which of the following [etcd repo scripts](https://github.com/etcd-io/etcd/tree/main/scripts) are used to create a release?

[code]

Of these, the [Release guide](https://etcd.io/docs/next/dev-internal/release/) only mentions `build-docker`. There is a mention of `release.sh`, but that script doesn't exist.

[2021-05-21 20:39] chalin opened #300 "Doc-version landing pages need rework"
On desktop, readers have direct access to the following links on every documentation page:

Most doc-version landing pages have a sentence of the form "Improvements to these docs are encouraged through pull requests to the etcd project on GitHub", with a link to the etcd repo -- from the days where the docs were in that repo. Given the GH issue links on each page, let's drop that sentence from the

[2021-05-21 20:44] chalin opened #302 "Drop versions from config"
The versions a listed under `docs`, so we don't need to repeat them in the cofig. Let's keep things DRY.

[2021-05-21 21:05] #266 closed

[2021-05-21 21:07] nate-double-u commented on #302
The versions are listed under `content/en/docs`, would removing them from the config have an affect on any potential internationalization work?

[2021-05-21 21:28] nate-double-u opened #304 "Versions menu UX issue"
My original thought was that the Versions menu shouldn't take up real estate in the top nav if it isn't being shown. For example:

![Screen Shot 2021-05-21 at 2 27 31 PM](https://user-images.githubusercontent.com/4453979/119199904-7022ba80-ba7b-11eb-869a-6fbe5f19c164.png)

![Screen Shot 2021-05-21 at 2 27 50 PM](https://user-images.githubusercontent.com/4453979/119199911-73b64180-ba7b-11eb-92c3-42

[2021-05-22 12:27] chalin commented on #304
An alternative, which would be more consistent, would be to always display the **Versions** menu but make it inactive on pages where it doesn't apply.

[2021-05-22 12:30] chalin commented on #302
Oh yes, good point! Generating the versions list from the folders under `/docs` would be beneficial for internationalization because it would allow translations to support the versions they deem important to them -- rather than us imposing that all translations support all verions.

[2021-05-22 15:31] chalin opened #306 "Create a Community page"
- [ ] Create a Community page
- [ ] Add a link to this page to the top nav

[2021-05-22 15:41] chalin opened #307 "Current link checker can't handle redirects"
As originally reported in #216, our current link checker can't handle paths like `/docs/latest`, so we temporarily came up with a hack (#227), that consisted of replacing `latest` by `v3.4`. This issue is a reminder to undo that hack and switch to using a better link checker (possibly like https://www.npmjs.com/package/dart-linkcheck).

[2021-05-22 18:03] nate-double-u commented on #296
I find myself hovering over the menu to see if there is another version of the current page. A visual distinction would be helpful.

[2021-05-22 18:16] nate-double-u opened #309 "Add `etcdutil` documentation"
@ptabor Should we add `etcdutil` as well? (newly introduced in 3.5)

_Originally posted by @gyuho in https://github.com/etcd-io/website/pull/288#discussion_r634007594_

Potentially we could potentially add it to content/en/docs/next/dl-build.md, and/or we may want to create a new page for it.

[2021-05-22 18:18] chalin commented on #309
Isn't it named `etcdutl`?

[2021-05-22 18:18] chalin commented on #309
Ah, yes: https://github.com/etcd-io/etcd/tree/main/etcdutl

[2021-05-22 18:19] nate-double-u commented on #309
Good catch, thanks for the correction!

[2021-05-22 18:24] nate-double-u commented on #290
Wiki has been turned off.

[2021-05-22 18:24] #290 closed

[2021-05-25 18:48] nate-double-u commented on #307
It might be interesting to explore GitHub actions in relation to this as well.

https://github.com/JustinBeckwith/linkinator-action
https://www.npmjs.com/package/linkinator

[2021-05-25 19:49] chalin commented on #306
From https://github.com/etcd-io/website/pull/313#issuecomment-848112696, @nate-double-u writes:

I was going to hold off on the Slack channels for this first iteration. For example, Kubernetes doesn't even mention Slack in their Community page: https://kubernetes.io/community/ (although it is in the footer).

Questions I have regarding `#etcd` on the Kubernetes Slack:

- Why is the #etcd channel o

[2021-05-25 20:15] nate-double-u commented on #306
These questions may constitute a whole new issue. There are [resources and tools](https://slack.com/help/articles/217872578-Import-data-from-one-Slack-workspace-to-another) available if the project does want to move the `#etcd` channel from K8s slack to CNCF slack.

[2021-05-25 20:19] chalin commented on #306
Which is what I felt too, and why I didn't include them in the first version of the Community page.

[2021-05-25 22:07] nate-double-u opened #314 "Make the link to GH more prominent"
Based on feedback, both from @hexfusion in PR [#305](https://github.com/etcd-io/website/pull/305), and elsewhere, we should make the link to GitHub link more prominent.

[2021-05-25 22:51] chalin commented on #314
Although we have a UX assessment to make, I think that it's too early to conclude that we _should_ make the link more prominent.

As I mentioned in https://github.com/etcd-io/website/pull/305#issuecomment-848197739, let's wait for the IA implementation to be a little more advanced before start the analysis.

Also see the arguments made in https://github.com/etcd-io/website/pull/305#issuecomment-84

[2021-05-25 23:14] chalin commented on #306
We only recently created #etcd-docs, and it hasn't been getting any traffic since then. One suggestion is to close that (unused) channel and use GitHub discussions instead.

[2021-05-25 23:32] nate-double-u commented on #314
I agree, and have edited the issue title and description to suit.

[2021-05-26 00:21] partcyborg opened #315 "Developer Guide: API reference pages aren't listed for v3.4 and next"
When viewing the etcd 3.3 API documentation on pages

https://etcd.io/docs/v3.3/dev-guide/api_reference_v3/
and
https://etcd.io/docs/v3.3/dev-guide/api_concurrency_reference_v3/

There is a warning at the top that says
[code]
However, if you go to the Developer guide for version 3.4, there are no links to the API documentation
https://i.postimg.cc/bwfXC6ML/Screen-Shot-2021-05-25-at-5-17-43-PM.png

[2021-05-26 02:31] nate-double-u commented on #307
I've tried this three ways, and it seems like both dart linkcheck and linkinator fail as they are getting called as part of the build process -- my guess is that since they're being called as an npm post build process that perhaps the DEPLOY_URL hasn't been set up yet, so they are not actually finding a site to check.

netlify-plugin-checklinks is more disappointing - I temporarily added the plugi

[2021-05-26 14:20] chalin opened #318 "Install page: create from reworked download-and-build"
Part of _New IA implementation_ #267:

- [x] `/docs/next/`:
  - [x] **Install** page from reworked `dl-build` page - #294, #323
  - [x] Rename file and add redirect rule - #319
- [ ] `/docs/v3.4/`, i.e., `/docs/latest`: #333
  - [ ] **Install** page from reworked `dl-build` page
  - [ ] Rename file and add redirect rule
  - [ ] Add **Install** link to top-nav
- [ ] All other versions: #333
  - [ ]

[2021-05-26 15:34] chalin opened #322 "Simplify how versions are configured in front matter"
Simplify how versions are configured in front matter, especially for `next/_index.html`. This is what the front matter looks like now:

[code]

I'd like to be able to use `version` in the **Install** page, for example, but I can't atm because it is currently the permalink alias. I'm leaning more and more towards #252, as a partial way of contributing to a solution to this issue too.

Other ideas:

[2021-05-26 16:01] chalin opened #325 "Netlify previews for draft pages"
It should be possible to preview draft pages on Netlify without having to force that draft pages are build for all previews. On grpc.io, for example, previews include draft pages if the PR branch name includes `draft`. Should we do the same thing here?

As of #324, draft pages will always appear in preview. I did this so that we can make quick enough progress in the review of the v3.5 blog entry.

[2021-05-26 19:15] nate-double-u opened #328 "v3.5 Documentation"
This issue collects the documentation activities that need to be done to support the [v3.5](https://github.com/etcd-io/etcd/issues/12970) docs.

Docs release:

- [x] Create v3.5 docs from `/docs/next`. Two options: either rename `next` to `v3.5` (as suggested in the comment below), or copy it (not @chalin's preferred choice)
- [x] Ensure `latest` refers to v3.5 #379
- [x] Decide what `next` will r

[2021-05-26 19:46] chalin commented on #328
I'd like to propose the following strategy, at least until we decide whether #252 will be addressed or not:

 1. Rename `/docs/next` to `/docs/v3.5`
 2. Add a redirect rule from `next` to `v3.5` (and remove the opposite redirect rule that was added via #326)
 3. **NOT** create another `/docs/next` folder until we have a need for it and/or until we've resolved what we'll be doing with #252, among o

[2021-05-26 19:57] chalin commented on #315
Thanks for reporting this issue @partcyborg!

@nate-double-u: could you look into this? I believe that the v3.4 (and next, which seems to have the same issue) pages are missing front matter, and so aren't being picked up as pages in the section listing.

[2021-05-26 20:03] chalin commented on #315
It might be worth checking if there are other pages without front matter.

[2021-05-27 12:52] #315 closed

[2021-05-27 13:05] chalin opened #330 "API reference: typo in front matter and more"
This is in follow up to #329. Here are the changes that still need to be done (IMHO):

- [x] Disclaimer: (#337)
  - [ ] Fix typo: drop the "a" in "This is a generated ..."
  - [x] Leave the disclaimer in the page body.
  - [x] Actually, I think that the following disclaimer text would be better. WDYT?

- [x] Titles: the entire website is about etcd, so I suggest dropping 'etcd' from the titles, fi

[2021-05-27 18:20] chalin opened #332 "v3.5 docs prep: rename next to v3.5"
From https://github.com/etcd-io/website/issues/328#issuecomment-849069522:

_Originally posted by @chalin in https://github.com/etcd-io/website/issues/328#issuecomment-849069522_

[2021-05-27 18:32] chalin commented on #111
Related: https://github.com/etcd-io/etcd/issues/13050

[2021-05-27 22:20] chalin opened #334 "Libraries and tools for v3.5 (next): add Scala reference"
_Originally posted by @chalin in https://github.com/etcd-io/website/issues/286#issuecomment-849979206_

[2021-05-27 22:26] chalin opened #335 "Complete v3.5-announcement blog review"
This is the blog entry: https://github.com/etcd-io/website/blob/main/content/en/blog/2021/announcing-etcd-3.5.md

[2021-05-27 22:53] #318 closed

[2021-05-27 23:02] chalin commented on #322
Following, #336, we'll need to consider the impact (and possible improvements) to the `Makefile`.

[2021-05-27 23:04] chalin commented on #307
Satisfactorily close by #336 for now.

[2021-05-27 23:04] #307 closed

[2021-05-28 15:56] suizman commented on #334
Feel free to make the changes. Thanks.

[2021-05-28 17:27] #334 closed

[2021-05-28 17:31] chalin commented on #252
All: as a step in this direction, we'll be implementing the proposal (in the opening comment) as part of the preparation for the v3.5 docs; see #332. /cc @spzala @ptabor

[2021-05-28 17:39] chalin commented on #322
Regarding page warnings, I like the terminology used by https://velero.io/docs/main/. (Though I still think that we shouldn't have a `next` site folder.)

[2021-05-28 17:43] chalin opened #340 "Add site search"
Peak over at, say, grpc.io for how it was implemented there, or any other site.

[2021-05-28 18:06] chalin opened #341 "New top-nav (for matching new IA)"
This is a companion issue to _New IA implementation_ #267.

- [x] _Docs_ (/docs/latest)
- [x] Blog (/blog)
- [x] Community (/community) #306 #313
- [x] Install (/docs/latest/install) #318
- [x] Play, [play.etcd.io/play](http://play.etcd.io/play) #342, #343
- [x] _Versions_, only active for pages under `/docs` - #338
- ~~Quickstart (/docs/latest/quickstart)~~

[2021-05-28 18:13] #306 closed

[2021-05-28 18:21] chalin opened #342 "Add a link to Play in the top nav"
Context: #341

[2021-05-28 18:35] nate-double-u commented on #81
Closing this issue as it no longer reflect the new IA implementation plan (#267, #341, #247)

[2021-05-28 18:35] #81 closed

[2021-05-28 23:13] nate-double-u commented on #110
Closing issue as it was a request for comment, and we've had some  feedback. Thanks!

[2021-05-28 23:13] #110 closed

[2021-06-01 00:02] nate-double-u opened #345 "Quickstart v3.4 page - broken link"
## Page affected
https://etcd.io/docs/v3.4/quickstart/

## Issue
In the _Install etcd On_ Linux section, the `GITHUB_URL=https://github.com/etcd-io/etcd/releases/download` url appears to be broken.

When the environments variables are set as specified, we get the following when we run the `curl` command:
[code]
The `GOOGLE_URL` works fine.

[2021-06-01 00:07] nate-double-u commented on #345
Release page: https://github.com/etcd-io/etcd/releases/tag/v3.4.16

Download file: https://github.com/etcd-io/etcd/releases/download/v3.4.16/etcd-v3.4.16-linux-amd64.tar.gz

[2021-06-01 00:09] nate-double-u commented on #345
Seems to be working now. Might be a transient internet issue. I'll try again in a few hours and if there is still no problem, I'll close the issue.

[2021-06-01 01:04] nate-double-u commented on #345
Checked back, seems to not be an issue. Sorry for the noise.

[2021-06-01 01:04] #345 closed

[2021-06-01 14:02] #304 closed

[2021-06-01 14:08] chalin commented on #341
Thanks for the PRs @nate-double-u. All done!

[2021-06-01 14:08] #341 closed

[2021-06-01 17:01] nate-double-u opened #346 "Versions not showing on Top Nav bar on iOS"
## Issue
Versions menu not shown on top nav bar on iOS

## Additional info
![Image from iOS](https://user-images.githubusercontent.com/4453979/120362436-99a0d900-c2fa-11eb-9f19-1a9504e0afe6.png)
![Image from iOS (2)](https://user-images.githubusercontent.com/4453979/120362722-ea183680-c2fa-11eb-959f-5a39517cab00.png)

[2021-06-01 17:15] chalin commented on #346
Just to be clear: we can't really tell from the screenshots because the top nav scrolls left and right on mobile (and there is nothing indicating whether there are more nav items on the left or the right).

I've checked this out myself on iOS and confirm that the versions menu isn't visible. This might be by design -- a docsy design decision. It would be worth checking that out.

[2021-06-01 17:18] chalin commented on #346
Possibly related: https://github.com/google/docsy/issues/223#issuecomment-613750692

[2021-06-01 17:24] nate-double-u commented on #346
Interesting I didn't know about the scrolling (It may not be wide enough to scroll on my device, I'm not seeing that behavior). I'll remember to show other perspectives on mobile -- I'm also looking to confirm on other mobile OSs like Android.

Another iOS perspective:
![Image from iOS (3)](https://user-images.githubusercontent.com/4453979/120365527-0ff30a80-c2fe-11eb-9277-4de28171a86a.png)

[2021-06-01 17:27] chalin commented on #346
Of course, that's a docsy UX issue. Most folks don't know that the top nav scrolls. It took me a while before I noticed :).

Thanks for checking on Android.

[2021-06-01 17:46] nate-double-u commented on #340
I took a quick look at this over the weekend -- it looks like the Docsy/Google search needs(?) a Google Custom search engine set up. They have some documentation as to how to do this, but I'm not sure how to set it up at an organizational level (I can set it up with my @cncf.io google account, but even that's problematic as I think that would still be attached to the account, not the org).

https:

[2021-06-01 18:07] nate-double-u commented on #346
The problem also shows up on Android:

![signal-2021-06-01-110133_005](https://user-images.githubusercontent.com/4453979/120370504-2bf9aa80-c304-11eb-9ad1-d99213e9efb5.png)
![signal-2021-06-01-110133_004](https://user-images.githubusercontent.com/4453979/120370506-2c924100-c304-11eb-8d97-9308dcc6d31f.png)

[2021-06-01 18:16] chalin commented on #346
Marking as an "upstream" problem (due to docsy) and giving it a p3-low priority since etcd's website readership from mobile is low and we might not get to this before the new IA is implemented.

[2021-06-01 22:36] nate-double-u opened #347 "[Install page] 2 links going to the same place"
## Issue
On the _Install_ page, in the _Requirements_ section, the following bullet point copy link to the same page/section:

## Affected Pages
* https://etcd.io/docs/next/install/#requirements
* https://etcd.io/docs/v3.4/install/#requirements

[2021-06-01 22:55] nate-double-u opened #348 "[Install page (v3.4)] Incorrect install step"
## Issue
Step 3 of the _Build from source_ section reads:

But there is no `build.sh` file. It seems that the command should just read `./build`.

## Affected pages
https://etcd.io/docs/v3.4/install/#requirements

[2021-06-01 22:56] nate-double-u commented on #348
Note, `./build.sh` is correct for v3.5.

[2021-06-02 14:17] chalin commented on #348
Good catch!

[2021-06-02 14:20] chalin commented on #347
Oops! Right, the first bullet should be a link to https://etcd.io/docs/next/op-guide/supported-platform, for the `next` page, with a similar link for the v3.4 page.

[2021-06-02 17:15] ptabor commented on #298
Sam was doing this recently, but from my understanding https://etcd.io/docs/next/dev-internal/release/ guide mostly documents work that is automated by `./scripts/release` code already.

### Release management
  - I don't think we keep it 'fomal' for lifetime of the branch, but for initial 3.5.0 branch, Sam took the release manager duties.

### Major, minor version release, or its pre-release
  -

[2021-06-02 18:41] chalin opened #351 "Change title of v3.4 supported-platforms to "Supported platforms""
Change the title of `docs/v3.4/op-guide/supported-platform/` to match the title of the corresponding `docs/next` page.

Somewhat related: #350

[2021-06-02 18:42] nate-double-u commented on #330
Fixed in https://github.com/etcd-io/etcd/pull/13062

[2021-06-02 18:42] #330 closed

[2021-06-02 19:09] #347 closed

[2021-06-03 16:57] #300 closed

[2021-06-03 16:58] #351 closed

[2021-06-03 17:22] chalin opened #355 "Quickstart: link to Install page"
- [ ] v3.4: Replace the content of the [Install etcd](https://etcd.io/docs/v3.4/quickstart/#install-etcd) section of the Quickstart with a sentence that links to the [Install](https://etcd.io/docs/v3.4/install/) page
- [ ] Ditto for the `next` Quickstart.

[2021-06-03 17:27] chalin commented on #298
Thanks for the feedback @ptabor.

[2021-06-03 17:34] chalin commented on #355
@nate-double-u - feel free to take this one. Otherwise, I can give it a go.

[2021-06-03 17:35] nate-double-u commented on #355
I'm happy to do it--it's in line with a few other tickets I've been working on the past couple days

[2021-06-03 17:36] spzala commented on #220
@chalin sorry for the late reply, seems like I missed the GH notifications :( Thanks for working on the issue!

[2021-06-03 18:47] chalin opened #356 "RCF v3 API page: keep/drop page, and/or change title"
Regarding http://etcd.io/docs/next/rfc/v3api/ (and http://etcd.io/docs/v3.4/rfc/v3api/):

- This was originally a Request For Comments (RFC) for the v3 API, right?
- Is this being kept for historical reasons?
- Does it still make sense to keep this page as part of the v3.5 docs?
- The current title is "Overview", which this page is not. It isn't even a complete RFC. At a minimum the title should b

[2021-06-03 18:48] chalin commented on #356
There is no other candidate overview page (as reported by @gyuho? during the meeting). This is ok IMHO, since, at a minimum, the Quickstart page ends with a "what next?" list of suggestions.

[2021-06-03 18:54] chalin commented on #220
Thanks for giving a final ack.

[2021-06-03 18:57] chalin opened #357 "Community: add link to etcd.cn"
Add a link to etcd.cn to the Community page, with a disclaimer that the site isn't officially endorsed by the etcd.io maintainers.

[2021-06-03 19:02] chalin commented on #357
An example of how others have done it: https://dart.dev/community#additional-community-resources

[2021-06-03 19:10] nate-double-u commented on #357
@kapunahelewong, this may be a good issue to get your development environment set up with.

[2021-06-03 19:59] kapunahelewong commented on #357
Working on it now, thanks!!

[2021-06-03 20:10] nate-double-u opened #358 "Add git submodule installation instructions to README.md"
## Issue

The `README.md` file's _Run the site locally: Setup_ section is missing a step.

## Solution

Add the submodule installation instructions before the `npm install` instruction.

`git submodule update --init --recursive --depth 1`

[2021-06-03 20:12] nate-double-u commented on #358
Kubernetes has a similar requirement: https://github.com/kubernetes/website/#prerequisites

[2021-06-03 20:25] gyuho commented on #356
@chalin This is an initial draft by @xiang90 when we first proposed v3 API, and not actively maintained. I am ok with removing this in 3.5 and going forward, as long as we keep it in 3.4 and before docs.

[2021-06-03 20:29] gyuho commented on #356
For reference, the original file can be found here https://github.com/etcd-io/etcd/blob/v3.4.16/Documentation/rfc/v3api.md and the initial commit is this https://github.com/etcd-io/etcd/commit/7c879ee57668f5f5a33dfa0443f4188e708ca030#diff-6f52d4f18616849f2359740b7e93cb658a25843a501316f3af371cff5b492ecf.

[2021-06-03 20:29] kapunahelewong commented on #358
I can do this one! Thanks for the Kubernetes context too, @nate-double-u!

[2021-06-03 20:51] #357 closed

[2021-06-03 20:59] chalin commented on #356
Ok, good.

Yes, let's do that.

[2021-06-03 21:02] nate-double-u opened #361 "Follow up to #359"
A few tweaks to the etcd.cn link on the community page:

- [ ] "version of this site" --> "translation of etcd.io"
- [ ] Put "(此...版)" inside / as part of the link text. Actually, use this text: "(本网站中文翻译)"
- [ ] ". Note that the Chinese language site is ..." --> "-- the website is ..."
- [ ] "by the etcd.io" --> "by etcd"

_Originally posted by @chalin in https://github.com/etcd-io/website/pull/3

[2021-06-03 21:11] chalin commented on #335
Might you be available to work on this @kapunahelewong?

[2021-06-03 21:16] kapunahelewong commented on #361
I'll take it.

[2021-06-03 21:19] kapunahelewong commented on #335
Yes, I can do it!

[2021-06-03 21:25] chalin commented on #358
Btw, the npm commands should handle the submodules.

[2021-06-03 21:27] chalin commented on #358
See the `get-submodules` npm command.

[2021-06-03 22:33] nate-double-u commented on #358
This is correct, I'd forgotten the `get-submodules` npm command. I've updated the issue accordingly.

[2021-06-04 01:10] nate-double-u commented on #355
I'm just looking at starting in on this issue, and I'm not sure there will be much value left in the Quickstart page if we remove the Install instructions. The docs won't repeat themselves as much, but to go through the Quickstart process, a reader would need to start at Quickstart, go to Install, then come back to Quickstart in order to complete what we're billing up top as a 5 minute procedure.

[2021-06-04 16:06] Oklahoma1122 opened #366 "Key"

[2021-06-04 16:06] Oklahoma1122 commented on #366
Oo

[2021-06-04 17:21] nate-double-u commented on #366
Closing this issue as it looks to have been opened by accident.

[2021-06-04 17:21] #366 closed

[2021-06-04 19:54] #361 closed

[2021-06-04 22:56] #356 closed

[2021-06-04 23:00] nate-double-u opened #368 "Update Community page Chinese language link copy"
Follow up to PR #362

_Originally posted by @wenjiaswe in https://github.com/etcd-io/website/pull/362#discussion_r645894299_

[2021-06-05 17:54] Oklahoma1122 commented on #366
University of Arkansas

[2021-06-05 22:14] #368 closed

[2021-06-07 20:59] nate-double-u opened #370 "`htmltest` should not be looking at external links in CI pipeline"
The issue was a link to `github.com/ptabor`, but the link checker wanted `https://github.com/ptabor`.

_Originally posted by @nate-double-u in https://github.com/etcd-io/website/pull/367#issuecomment-856246108_

[2021-06-07 21:17] nate-double-u commented on #370
This is likely an [upstream](https://github.com/wjdp/htmltest) issue, as the `.htmltest.yml` has `CheckExternal: false` set, and we're not setting `EnforceHTTPS`.

[2021-06-07 21:19] nate-double-u commented on #370
It is odd that in my testing the local check worked, where the netlify run failed (so maybe it isn't upstream, but how we're calling it in our CI)

[2021-06-09 19:55] nate-double-u opened #372 "Create etcd-io fork of Docsy, point site theme at it"
Currently, the website `.gitmodules` points to the `etcd.io` branch of the CNCF fork of Docsy.

https://github.com/etcd-io/website/blob/d9716cbab88ab531deed4400853279a1b3ee55a1/.gitmodules#L1-L4

Ideally there should be a fork of Docsy in the etcd-io org, and the .gitmodules should point at that instead of the CNCF fork.

[2021-06-10 13:16] lilic commented on #328
Could we also add moving all metrics, logs, etc under a new section just for Observability in the navigation as per suggestion in the https://github.com/etcd-io/website/issues/280#issuecomment-839537655. What do you think?

[2021-06-10 18:38] #335 closed

[2021-06-10 18:48] nate-double-u commented on #328
@lilic, I think having a separate section for Observability in the navigation is a good idea. I'll open a separate issue so we can discuss where it should fit, and what needs to be moved into it. This would just be for `next`/`v3.5` and onward correct?

[2021-06-10 18:59] nate-double-u opened #374 "Add Observability section"
An Observability section has been suggested during the conversations around the v3.5 release:

_originally posted by @lilic in https://github.com/etcd-io/website/issues/280_

_Originally posted by @gyuho in https://github.com/etcd-io/website/issues/280#issuecomment-839537655_

Related: [New IA implementation #267](https://github.com/etcd-io/website/issues/267)

[2021-06-10 22:20] nate-double-u commented on #374
Closing in favour of https://github.com/etcd-io/website/issues/267

[2021-06-10 22:20] #374 closed

[2021-06-10 22:21] nate-double-u commented on #267
Sorry for the noise, but as this is a discussion about new pages and where and how to fit them in, I thought this would be a better place to discuss an Observability section. Sorry for the noise 😅

From: #374:

An Observability section has been suggested during the conversations around the v3.5 release:

_originally posted by @lilic in https://github.com/etcd-io/website/issues/280_

_Originally po

[2021-06-10 22:23] nate-double-u commented on #328
Sorry for the noise, [New IA implementation #267](https://github.com/etcd-io/website/issues/267) is probably a better place to discuss  adding a new page/section for Observability.

[2021-06-11 16:08] #280 closed

[2021-06-14 16:22] spzala opened #375 "Update features on etcd.ip main page"
The`Features` content on etcd.io points to V2 specific features that needs to be updated. e.g. it says ` etcd store data in hierarchically organized directories ` Also the interface should add gRPC.

cc @gyuho @jingyih @ptabor

@nate-double-u @chalin I will work on it or help with it there is any related updates in progress. Thanks!

[2021-06-14 16:41] nate-double-u opened #376 "Publish v3.5 release announcement"
As per https://github.com/etcd-io/etcd/issues/12970#issuecomment-860707893

After 6PM EDT (3PM PDT), June 15, set `draft: false` in `content/en/blog/2021/announcing-etcd-3.5.md`

[2021-06-14 17:04] spzala opened #377 "Change v3.5-DRAFT to v3.5"
Creating this issue for tracking. As discussed in the etcd community meeting, we should be changing v3.5-DRAFT to v3.5

cc @nate-double-u @chalin

[2021-06-14 17:05] spzala commented on #328
@nate-double-u just fyi, I think we can take care of https://github.com/etcd-io/website/issues/377 under here. Thanks!

[2021-06-14 17:11] nate-double-u commented on #377
related: https://github.com/etcd-io/website/issues/376

[2021-06-14 17:16] #332 closed

[2021-06-15 00:41] nate-double-u commented on #325
I think I'm OK with Drafts and Future pages getting rendered on all preview builds. How we have it set up now is simple, and straightforward. I think that having to add `draft` to a branch name would get overlooked when it comes time that someone needs a draft rendered in preview.

[2021-06-15 09:41] divanodestiny opened #378 "Default config in v3.4 is different from code"
[website](https://github.com/etcd-io/website/blob/main/content/en/docs/v3.4/op-guide/configuration.md#--backend-bbolt-freelist-type) vs [doc](https://github.com/etcd-io/etcd/blob/v3.4.16/Documentation/op-guide/configuration.md#--experimental-backend-bbolt-freelist-type)

[2021-06-15 18:54] nate-double-u opened #380 "Update generated API references on v3.5 release"
Once v3.5 is officially released, ensure that `dev-guide/api_reference_v3.md` and `/dev-guide/api_concurrency_reference_v3.md` are up to date in the v3.5 folder.

[2021-06-15 22:32] #376 closed

[2021-06-15 22:46] nate-double-u commented on #377
closed with https://github.com/etcd-io/website/pull/379

[2021-06-15 22:46] #377 closed

[2021-06-15 23:02] nate-double-u commented on #380
Generated docs up to date.

[2021-06-15 23:02] #380 closed

[2021-06-15 23:04] nate-double-u commented on #328
Closing this issue as the remaining part of it (Adding etcdutl documentation #309) can be handled as a standalone issue -- congrats on the release everyone.

[2021-06-15 23:04] #328 closed

[2021-06-16 13:56] lilic opened #382 "[v3.5] Update snapshot restore to use `etcdutl snapshot restore`instead"
We still reference `etcdctl snapshot restore ` which is deprecated as per CLI output:

[code]
We should change it to be `etcdutl` instead.

One example where we do this:
https://etcd.io/docs/v3.5/op-guide/recovery/#restoring-a-cluster

[2021-06-16 13:56] lilic commented on #382
cc @ptabor

[2021-06-16 17:58] gyuho commented on #382
I remember this was done so because of some dependency isolation. It would be good if we document why we decided to split this out in the first place.

[2021-06-16 18:55] nate-double-u commented on #252
Note, currently there is no `next`. Since the v3.5 release, `next` points to the same folder as `latest`.

[2021-06-16 20:33] ptabor commented on #382
Thank you for noticing.  We look for the other changes in the webpage and prepare a PR.

@gyuho :
Snapshot restore does not work over the wire, requires physical presence on the host where the files are and operates directly on the etcd file structure - so it belongs to `etcdutl`.

`etcdctl` is CLI wrapper around client/v3

[2021-06-16 22:03] nate-double-u commented on #252
Related conversation:
https://github.com/etcd-io/etcd/pull/13110#issuecomment-862726764 (@ptabor)

[2021-06-16 22:31] nate-double-u opened #383 "Create a new folder for the next version of etcd"
The next version will be `v3.6`.

- [ ] copy `v3.5` folder over as a base
- [ ] set Draft warning (so readers will know it is cutting edge documentation)
- [ ] set the etcd.io/docs/next forwarder to the new `v3.6` folder

related: https://github.com/etcd-io/website/issues/252

[2021-06-18 18:58] nate-double-u commented on #302
I think this issue may functionally duplicate issue https://github.com/etcd-io/website/issues/234. They are at least closely related.

[2021-06-20 07:46] parveensh0 opened #385 "Some diagrams will really help in more understand."
I really got confused with revisions and version.  And, if some sample example could be shared in the document. It will be really helpful atleast in the logical explanation.

[2021-06-21 19:42] nate-double-u opened #387 "Consider publishing website analytics"
We are collecting website analytics. In the interest of transparency, perhaps we should publish a link to it on the site.

Example: https://kubernetes.io/docs/contribute/analytics/

[2021-06-21 19:44] nate-double-u commented on #387
/cc @chalin

[2021-06-21 22:28] nate-double-u commented on #139
Once https://github.com/etcd-io/website/pull/388 is merged in we can probably close this issue.

`layouts/_default/_markup/render-link.html` is being managed with https://github.com/etcd-io/website/issues/270, and the other files are either removed with #388, or are likely still needed.

[2021-06-21 22:59] nate-double-u commented on #340
I was doing a bit more research, and while I think we should still add Google search, we may want to add more than just Google search if we have a large user base in China (we would need to check the analytics to confirm).

If we do have, we may want to consider alternate search providers for the docs. See Kubernetes' experiences: _Replace Google search with Baidu search in China_ [#9635](https://

[2021-06-22 14:14] kapunahelewong commented on #296
I can help out here!

[2021-06-22 14:15] kapunahelewong commented on #269
I can help here. PR forthcoming!

[2021-06-22 17:05] #269 closed

[2021-06-22 17:17] nate-double-u commented on #296
Some pics to clarify:

On page https://etcd.io/docs/v3.5/quickstart/

![Screen Shot 2021-06-22 at 10 11 24 AM](https://user-images.githubusercontent.com/4453979/122970092-fa14ba80-d37c-11eb-9ebb-3ec6dad67737.png)
Note the subtle highlighting when hovering over a version. Also note the link in the lower left hand corner -- there is a v3.4 version of this page, so the menu links to that page.

![Scr

[2021-06-22 20:04] caniszczyk commented on #340
for now, I'd just keep the google search, if folks want other options they
can send us a contribution, but in reality, all of these search engines
index the content

On Mon, Jun 21, 2021 at 5:59 PM Nate W. ***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-06-22 22:52] nate-double-u commented on #385
Hello @parveensh0, thanks for this report.

Could you provide some more detail?
* Which page was confusing you?
* Which part of the system would you like to see an example of?

[2021-06-24 22:13] nate-double-u opened #394 "Write "Getting Started with `etcdctl`" page"
As per #65:

This page could be linked to from both the Quickstart and Install pages, but should stand on its own content wise.

[2021-06-24 22:15] nate-double-u commented on #267
We should add a "Getting Started with etcdctl" page (#394) to the new infrastructure as it was specifically asked for in issue #65.

[2021-06-24 22:19] nate-double-u commented on #394
https://etcd.io/docs/v3.5/dev-guide/interacting_v3/ may be a good base/starting point for this page.

[2021-06-24 22:24] nate-double-u opened #395 "Write "Troubleshooting `etcd`" page"
As per #65, write a "Troubleshooting `etcd`" page:

[2021-06-24 22:25] nate-double-u commented on #267
- [ ] We should add a Write "Troubleshooting etcd" page (#395) to the new infrastructure as it was specifically asked for in issue #65

[2021-06-24 22:41] nate-double-u opened #396 "Convert Platforms/Amazon Web Services page into a blog post"
Convert ["Platforms/Amazon Web Services" page](https://etcd.io/docs/v3.5/platforms/aws/) into a blog post, and remove it from v3.5 (and other versions moving forward).

This is a part of the discussion around "How to" type content (https://github.com/etcd-io/etcd/pull/12668#issuecomment-779665473)

[2021-06-24 22:43] nate-double-u opened #397 "Convert "Platforms/Container Linux with `systemd`" page into a blog post"
Convert "Platforms/Container Linux with `systemd`" page into a blog post, and remove it from v3.5 (and other versions moving forward).

This is a part of the discussion around "How to" type content (https://github.com/etcd-io/etcd/pull/12668#issuecomment-779665473)

[2021-06-24 22:44] nate-double-u opened #398 "Convert "Platforms/FreeBSD" page into a blog post"
Convert ["Platforms/FreeBSD" page](https://etcd.io/docs/v3.5/platforms/freebsd/) into a blog post, and remove it from v3.5 (and other versions moving forward).

This is a part of the discussion around "How to" type content (https://github.com/etcd-io/etcd/pull/12668#issuecomment-779665473)

[2021-06-24 22:52] nate-double-u opened #399 "Convert @marifse's Platforms/IBM PR into a blog post"
In the same vein as the other "Platforms" blog post issues (#396, #397, #398), work with @marifse to convert their "added ibm doc" PR (https://github.com/etcd-io/etcd/pull/12668) into a blog post.

This is a part of the discussion around "How to" type content (https://github.com/etcd-io/etcd/pull/12668#issuecomment-779665473)

[2021-06-24 23:17] nate-double-u commented on #267
The IA diagram in #110, and issue #65 reference adding the following sections (which may need new pages to be written).
- [ ] Administration
- [ ] Developer Guide
- [ ] Contributor Guide

Should these still be considered? If so, we'll need to add them to the Permalink Structure above, and open issues for any pages needing to be created/updated/moved.

[2021-06-25 16:45] nate-double-u commented on #65
As @chalin and I will be migrating off the etcd.io project, I want to put together an update as to where the project stands and what still needs to be done. I’ll quote @jberkus’ original text as needed, but will prune duplications or parts that are answered in other sections. As there is quite a bit here, I’ll break this into several posts.

[2021-06-25 16:45] nate-double-u commented on #65
- [ ] Patrice (@chalin) has set up some analytics, perhaps we should publish a link to it on the site like [K8s does](https://kubernetes.io/docs/contribute/analytics/) #387.

- [x] We are the top results now.

[2021-06-25 16:45] nate-double-u commented on #65
- [ ] See next comment

- [ ]

- [ ] Write "Getting Started with etcdctl" page #394
- [ ] Also, a potentially related open issue: Add etcdutl documentation #309

- [x] We've added a [Quickstart page](https://etcd.io/docs/v3.5/quickstart/), which serves this function.

- [ ] Write "Troubleshooting etcd" page #395

- [x] These pages have been mostly added under versioned folders, as while they may n

[2021-06-25 16:46] nate-double-u commented on #65
There hasn’t been a new table of content page made, but the existing one, for each version since v3.4 has been reordered based on discussion about what best the info should be presented in (see Documentation Content: TOC — Compilation PR (weights & descriptions) https://github.com/etcd-io/etcd/pull/12575, and Adding weights and descriptions to v3.4 from next #168)

- [x] Quickstart page for etcd #

[2021-06-25 16:46] nate-double-u commented on #65
- [x] These have mostly been fixed: #174, #203, but a few broken links remain (#245).

- [x] All redirects have been moved to the [layouts/index.redirects](https://github.com/etcd-io/website/blob/main/layouts/index.redirects) file. There aren't an unmanageable number of them.

I had added a 'documentation' tag to the website repo, but have since removed it. There were very few instances of it bein

[2021-06-25 16:46] nate-double-u commented on #65
## Suggested Additions to the Improvement Plan

- [x] This was completed with PR: Migrate documentation: Add docs to etcd-io/website #99

- [x] This was completed with PR: Docsy theme #244

[2021-06-25 17:32] nate-double-u opened #400 "Create Contributor Guide"
As per #267

- [ ] Create a **Contributor guide** page -- either as a new page, or embedded in the [Community Page](https://etcd.io/community/).
  - [ ] Update and move **Issue Triage Guidelines** under Contributor guide.
  - [ ] Update and move **Reporting bugs** page under Contributor guide.

[2021-06-25 17:32] nate-double-u opened #401 "Administration (/docs/v3.5/administration)"

[2021-06-26 19:28] nate-double-u opened #402 "Consider reworking "Demos" page into "Tutorials""
As per https://github.com/etcd-io/website/issues/267#issuecomment-841706384

The [**Demo** page](https://etcd.io/docs/v3.5/demo/) has a lot of good information on it. It could be broken up into several pages, and a new **Tutorials** page made to house them.

[2021-06-28 23:18] jberkus commented on #65
Thank you for your terrific work on this.  The reorganization you've done will make it possible for us to maintain the docs better and in a more searchable format.

[2021-06-28 23:40] philips commented on #65
Yea, thank you. The site looks great.

[2021-07-12 19:55] chalin commented on #370
`htmltest` wasn't (and isn't) analyzing external links IMHO. To the checker, `github.com/ptabor` is an _internal_ link (since it doesn't start with http -- i.e, it looks like a _path_ of the form `foo/bar`), which is invalid as such. So it was correct to report an internal link error.

The fix, as you noted, was to prefix the reference with `https://` but not because the checker was expecting that

[2021-07-12 20:01] nate-double-u commented on #370
I agree with this assessment.

[2021-07-12 20:01] #370 closed

[2021-07-12 20:07] chalin commented on #325
Yep, that works for me.

[2021-07-12 20:07] #325 closed

[2021-07-12 20:17] chalin commented on #385
Closing. @parveensh0 - feel free to open another issue once you are ready to provide more detailed feedback.

[2021-07-12 20:17] #385 closed

[2021-07-15 18:35] chalin commented on #383
Also update the symlinks in the Makefile (for the link checker) -- I've also add this as a bullet in the opening comment.

[2021-07-16 14:09] chalin opened #406 "README: section "Releasing a new version of the etcd documentation" is out-of-date"
Related: #383

[2021-07-23 12:17] hexfusion opened #413 "learner 3.5 capabilities section is invalid."
Any google search of learners takes you to this page which shows features in 3.5 that do not to my knowledge exist. I think we should probably change that section say possible future features or remove those that are not valid. The big ones are.

[code]

https://etcd.io/docs/v3.3/learning/learner/#features-in-v35

[2021-07-23 13:31] #413 closed

[2021-07-28 20:06] chalin opened #419 "Fix links that rely on Hugo's Page.Get function"
Fixing #270 first requires that we cleanup links that depend on the path rewrites being done by the current render-link hook. This issue is to track the updates to the doc pages, split by version:

- [x] v2.3 pages - #451
- [x] v3.1 pages - #450
- [x] v3.2 pages - #454
- [x] v3.3 pages - #448, and some fixes via #450
- [x] v3.4 pages - #458
- [x] v3.5 pages - #457
- [x] Other pages - #421

A few m

[2021-07-28 22:51] chalin commented on #139
`layouts/robots.txt` can be removed. After that, this issue can be closed.

[2021-07-29 10:22] AndyYao17 opened #422 "Configuration flag - the old flags "peer-ca-file" and "ca-file" should be removed"
We  found the two flags had been replaced by  "peer-trusted-ca-file" and "trusted-ca-file" on 20 Mar, 2018
The doc(version which newer than above) need to be updated.

[2021-07-29 10:27] AndyYao17 commented on #422
commits around this:
https://github.com/etcd-io/etcd/commits/main?before=82ef3f83f6f63ee2f6203f056b9fdbb27f1c94f5+35&branch=main

[2021-07-30 13:36] chalin commented on #419
Hey @nate-double-u and @kapunahelewong: if ever you're in a Fix-it-Friday mood, maybe you'd be willing to correct the links for (some of) the pages of one of the language versions? If so, that would be grand! No obligation, of course -- I know you have other tasks on your plate.

If you'd like to give it a try, then locally apply #420, and then run the link checker: it'll let you know which links

[2021-08-02 05:00] FedAnt opened #425 "Error: must be run from 'go.etcd.io/etcd/v3' module directory"
Hello!
Use this https://etcd.io/docs/v3.5/install/
in step #3 i have next error:
_./scripts/test_lib.sh: line 5: go: command not found
must be run from 'go.etcd.io/etcd/v3' module directory_

_./scripts/test_lib.sh: line 5: go: command not found_ -> decide `chown +x ./scripts/test_lib.sh`
_must be run from 'go.etcd.io/etcd/v3' module directory_ -> install golang `sudo apt install golang`

[2021-08-02 19:38] kapunahelewong commented on #419
Hey @chalin, thank you for the instructions on getting started. How do we run the link checker?
And would our PRs be like #421?

[2021-08-02 22:02] patrocinio commented on #425
Hello @FedAnt,
    where do you see the instructions to run `./scripts/test_lib.sh` in the https://etcd.io/docs/v3.5/install/ page?

[2021-08-02 22:13] patrocinio commented on #422
Hello @AndyYao17, where do you see a reference to `peer-trusted-ca-file` and `trusted-ca-file` in the documentation?

[2021-08-03 08:20] AndyYao17 commented on #422
https://etcd.io/docs/v3.5/op-guide/configuration/#--peer-ca-file
This flag had been removed(not DEPRECATED) cuz it cannot works.
Is it better to be marked as 'REMOVED' or just deleted directly?

[2021-08-04 01:49] ChrisCCheng opened #426 "a security problem in using etcd"
etcd is an open source distributed key-value store widely used to hold and manage critical information about distributed systems. However, I have discovered an etcd security issue.
The NewCert function included in the pkg/tlsutil/tlsutil.go file on etcd presents certificate content in plaintext.
I have prepared a straightforward method to handle this issue. Use the code below to enable the certifi

[2021-08-04 02:06] #426 closed

[2021-08-09 17:07] chalin commented on #372
We had briefly discussed both options (branch vs full clone) at some point. More and more I'm in favor of the branch option (contrary to what I was advocating before 🤷‍♂️ 😄 ).

[2021-08-09 17:14] chalin commented on #372
If you agree, let's consider closing this issue in favor of opening another to remind us to update the `etcd.io` branch of `cncf/docsy`.

[2021-08-09 17:47] nate-double-u commented on #372
I agree, and was _just_ going to suggest the same.

[2021-08-09 17:47] #372 closed

[2021-08-09 18:25] chalin opened #431 "Complete file setup for proper use of cncf/docsy"
Files should be setup as they have been done for https://github.com/grpc/grpc.io. (Details to follow)

[2021-08-09 18:26] chalin commented on #372
The new issue is #431

[2021-08-10 21:51] #139 closed

[2021-08-11 13:32] spzala opened #433 "Add doc for --initial-election-tick-advance flag"
Originally opened in the etcd repo - https://github.com/etcd-io/etcd/issues/12843 by @pikrzysztof

It's mentioned in the changelog but I can't find it on https://etcd.io/docs/next/op-guide/configuration/ .

[2021-08-12 19:39] chalin opened #434 "Drop about.md"
Note that the site has no links into this page. AFAIR, this we introduced during our migration to Docsy.

[2021-08-13 13:59] chalin commented on #433
@pikrzysztof: where is it mentioned in the changelog?

[2021-08-13 14:05] chalin commented on #433
Ah, here:
- https://github.com/etcd-io/etcd/blob/main/CHANGELOG-3.1.md#v3114-2018-04-24, specifically https://github.com/etcd-io/etcd/blob/main/CHANGELOG-3.1.md#etcd-server-3

@spzala, why does the 3.4 changelog mention the same flag as being added (again?) to etcd-server:
- https://github.com/etcd-io/etcd/blob/main/CHANGELOG-3.4.md#v340-2019-08-30, specifically https://github.com/etcd-io/etcd/blo

[2021-08-13 14:11] pikrzysztof commented on #433
It's mentioned in 3.1, 3.2, 3.3 and 3.4:
[code]

[2021-08-13 14:18] chalin commented on #433
Oh, interesting, thanks.

@spzala: IMHO, changelogs shouldn't be cumulative. Why the repetition in the > v3.1 changelogs? Should an issue be filed?

[2021-08-13 21:40] #434 closed

[2021-08-13 22:58] chalin opened #437 "Netlify redirects file is specified as an homepage `alternate`"
Currently, the etcd.io homepage contains:

[code]

The Netlify redirects file shouldn't be listed as an `alternate` to the site's homepage.

[2021-08-13 23:13] #437 closed

[2021-08-13 23:25] chalin commented on #419
See the instructions (and the Note) in [Build or serve the site](https://github.com/etcd-io/website#build-or-serve-the-site).

Yes. Thanks!

[2021-08-14 07:45] CIPHERTron commented on #65
Heyy @nate-double-u @jberkus I would like to work on this issue. Could you please guide me on how to approach it? Thanks 🚀

[2021-08-14 17:06] chalin opened #441 "Netlify builds report: "make: command: Command not found""
This is because of the use of the `command` command.

Example: https://app.netlify.com/sites/etcd/deploys/6116fb6ce2297c0007d6c4f8#L91:

[code]

[2021-08-14 17:28] #441 closed

[2021-08-14 18:42] chalin opened #443 "Some top-nav entires aren't shown as active when visisted"
To see the expected behaviour:

- Visit https://www.docsy.dev
- Click on any top-nav entry, like **About** or **Documentation**
- Notice that when viewing a pager under, say, the **Documentation** section, the corresponding top-nav entry is shown in bold. This is because it has the `active` class applied to it.

Now visit etcd.io. You'll notice that the following top-nav entries are _not_ shown as

[2021-08-15 14:15] wisdomekpotu commented on #65
Hi @nate-double-u @jberkus  , My name is Wisdom Ekpotu, I am a Third Year Computer Engineering Student from University of Uyo, Nigeria. I saw this project in the LFX mentorship fall 2021 and I thought this project had some parallels with my skills. I would love to contribute to this project and I'm open to learning any new technologies required for the project.
Also does this project have an offic

[2021-08-15 14:22] unnati914 commented on #65
hey! @wisdomekpotu!!! The slack channel for etcd is in Kubernetes slack
Channel name is #420 etcd

[2021-08-15 14:24] unnati914 commented on #65
hey @wisdomekpotu ! The slack channel for etcd channel is in kubernetes workspace you could search it by name etcd in channel section
Thank you!

[2021-08-15 14:27] unnati914 commented on #65
Also, I went through the issue. Could I open an issue stating all the possible issues? @nate-double-u , @jberkus ?

[2021-08-15 14:37] unnati914 commented on #400
I want to work on this issue

[2021-08-15 14:48] unnati914 commented on #400
I had one doubt.. do I need to add this to the top nav too on the website?

[2021-08-15 16:28] CIPHERTron commented on #443
Is this issue up for grab @chalin?
I would love to work on it 😄

[2021-08-16 07:47] unnati914 opened #444 "Detailed Readme"
I went through the readme of etcd its good but I feel that a more detailed readme could be made

Could I work on this?

cc @spzala , @nate-double-u

[2021-08-16 12:36] chalin commented on #444
Closing: for details, see https://github.com/etcd-io/website/pull/445#issuecomment-899474872

[2021-08-16 12:36] #444 closed

[2021-08-16 12:47] unnati914 commented on #309
could I work on this issue?

[2021-08-16 18:18] kapunahelewong commented on #419
I can start with v3.3.

[2021-08-16 20:26] nate-double-u commented on #65
For everyone who's joined us recently for the etcd Docs project with the LFX Mentorship Program, thanks for your interest!

The CNCF has just published blog post with more information about all the projects, as well as timelines and links on how to apply: https://www.cncf.io/blog/2021/08/16/cncf-lfx-projects-are-open-for-fall-2021-apply-by-august-22nd/

[2021-08-17 04:27] rgrupesh commented on #443
I would like to work on this issue.
Please assign me. @nate-double-u @chalin

[2021-08-17 04:44] rgrupesh commented on #400
@nate-double-u
I would love to work on this issue. Please assign me.

[2021-08-17 04:47] rgrupesh commented on #402
@nate-double-u
I would like to work on this issue. Please assign me.

[2021-08-17 05:59] rachittshah commented on #65
Hello @nate-double-u @jberkus,

I've worked on a similiar project for my Google Season of Docs with HPX, a core C++ library of the STE||AR group, the project can be found here:
- https://hpx-docs.stellar-group.org/
- https://github.com/STEllAR-GROUP/hpx/wiki/GSoD-2021-Project-Proposal#contact

Made a local clone of the website and had couple of ideas as well.

I believe there's a couple of ideas -

[2021-08-17 06:14] unnati914 commented on #65
hey @rachittshah :) Glad to see you here :) And yes I will surely approach you if I get stuck anywhere
Thank you!

[2021-08-17 06:23] unnati914 commented on #400
hey @rgrupesh :) Welcome to the community :) Do let me know if you face any problems while solving the issue. I would love to help you

[2021-08-17 06:32] rgrupesh commented on #65
Hello @nate-double-u @jberkus,

I went through the issue and I feel like I can accomplish this task. I am working on my cover letter, will submit that along with my resume through LFX portal.

Is there else that I should know of?

[2021-08-17 06:56] unnati914 commented on #65
Hey @rgrupesh, for the application i guess you need two things only that is a resume and cover letter, to be submitted on LFX site

[2021-08-17 06:58] rgrupesh commented on #400
Thank you @unnati914 . Sure, will do.

[2021-08-17 07:00] unnati914 commented on #65
Also, you can join Kubernetes slack workspace, in case you need some guidance from mentors :)
I hope it helps!
The channel name is etcd

[2021-08-17 07:07] rgrupesh commented on #65
This was helpful. Thanks again @unnati914 !

[2021-08-17 07:21] unnati914 commented on #200
Is this issue still up? I wanted to work on this

[2021-08-17 08:14] CIPHERTron commented on #65
Heyy @rachittshah it's great to have you here. 🚀
Would love to work with you!

[2021-08-17 17:37] chalin commented on #419
@kapunahelewong is working on v3.1

[2021-08-17 17:57] nate-double-u commented on #419
I could take v3.2

[2021-08-17 18:11] nate-double-u commented on #65
Hi @rachittshah, thanks for your interest. It looks like you posted this message over in the [slack channel as well](https://kubernetes.slack.com/archives/C3HD8ARJ5/p1629184988053500). We probably don't need to post in multiple places, as then any response will need to be repeated across channels.

I appreciate your enthusiasm, but as [I mentioned over in slack](https://kubernetes.slack.com/archiv

[2021-08-17 18:15] rachittshah commented on #65
Thank you for the reply @nate-double-u , apologies for taking up too much space on the communication channels. Will keep in mind.

Sure, however I would love to try and contribute in the meantime, even if it could help the other contributors it would be great!

Thank you for your support, I would await your response prior to contributing to avoid breaking procedure.

Do let me know if you need hel

[2021-08-17 18:20] nate-double-u commented on #65
There are some issues [labelled "good first issue" ](
https://github.com/etcd-io/website/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)(though there should be more than there are, I'll look into seeing if there are any more issues we can label as such), which may be a good place to start if you'd like to contribute before the end of the LFX docs mentorship project application phase.

[2021-08-17 18:25] CIPHERTron commented on #433
Heyy @spzala is this issue up for grab?
I would like to work on it. Thanks!

[2021-08-17 20:52] nate-double-u commented on #419
As per our conversation, @kapunahelewong, I leave it to you 🙂

[2021-08-18 07:27] TrucullentFreddi opened #449 "etcdctl member promote 8e9e05c52164694d No help topic for 'promote'/ flag provided but not defined: -learner"
Why is there inaccurate information on the official website? Why do I use the syntax specified in the off documentation, and it tells me that the syntax is incorrect?
When i use etcdctl member add infra4 --peer-urls=http://10.0.1.14:2380 --learne. i get an error " flag provided but not defined: -learner"
After i used etcdctl member add node_name, i get error #0: client: etcd member http://192.168.

[2021-08-18 07:30] TrucullentFreddi commented on #449
etcdctl cluster-health
cluster may be unhealthy: failed to list members
Error:  client: etcd cluster is unavailable or misconfigured; error #0: client: endpoint http://127.0.0.1:2379 exceeded header timeout
; error #1: dial tcp 127.0.0.1:4001: connect: connection refused

error #0: client: endpoint http://127.0.0.1:2379 exceeded header timeout
error #1: dial tcp 127.0.0.1:4001: connect: connection

[2021-08-18 07:56] TrucullentFreddi commented on #449
systemctl start etcd.service
^Z
[1]+  Stopped                 systemctl start etcd.service
[root@pg_node1 ~]# ^C
[root@pg_node1 ~]# systemctl status etcd.service
● etcd.service - Etcd Server
   Loaded: loaded (/usr/lib/systemd/system/etcd.service; enabled; vendor preset: disabled)
   Active: activating (start) since Wed 2021-08-18 03:55:47 EDT; 45s ago
 Main PID: 2045 (etcd)
   CGroup: /system.sli

[2021-08-18 07:58] TrucullentFreddi commented on #449
journalctl -xe
Aug 18 03:57:46 pg_node1 etcd[2063]: failed to dial f838e30c28c4af8e on stream MsgApp v2 (peer f838e30c28c4af8e failed to find local node 8e9e05c52164694d)
Aug 18 03:57:46 pg_node1 etcd[2063]: failed to dial f838e30c28c4af8e on stream Message (peer f838e30c28c4af8e failed to find local node 8e9e05c52164694d)
Aug 18 03:57:46 pg_node1 etcd[2063]: failed to find member 8e9e05c52164694d

[2021-08-18 14:46] nate-double-u commented on #449
Thanks for this report @TrucullentFreddi

Like any project, sometimes mistakes creep in, this is why we appreciate reports like this so much. We welcome PRs to fix incorrect information.

Which page are you referring to here (could you provide a link)? Is it the latest release? Older releases are provided as an archive, and may not reflect the current state of etcd.

[2021-08-18 19:37] kapunahelewong commented on #419
I'm working on v2.3 now.

[2021-08-18 20:44] kapunahelewong commented on #419
Now working on v3.2.

[2021-08-19 06:12] TrucullentFreddi commented on #449
https://etcd.io/docs/v3.5/op-guide/runtime-configuration/

[2021-08-19 14:10] spzala commented on #433
@chalin I agree but I think this seems like a case of adding it as part of backward compatibility.

[2021-08-19 14:12] spzala commented on #433
Thanks but a PR is already raised few days back.

[2021-08-19 17:04] kapunahelewong commented on #419
Now I'm working on v.3.5.

[2021-08-19 18:28] #340 closed

[2021-08-19 18:32] nate-double-u opened #455 "Find better solution for Lunr search UX change - currently a whole file is overridden"
https://github.com/etcd-io/website/blob/6fca60a413f6ba5de959c609d45090b6e58cc09b/assets/js/offline-search.js#L131

This is the only line that is different from the Docsy `assets/js/offline-search.js` file. This change adds better white space to the results pane. I'm not sure I'm happy with overriding a whole file for such a small change.

_Originally posted by @nate-double-u in https://github.com/

[2021-08-19 18:39] nate-double-u commented on #455
Maybe this should be an upstream fix?

[2021-08-19 20:29] kapunahelewong commented on #419
Currently working on 3.4! ⭐️

[2021-08-19 20:35] chalin commented on #245
We'll need a special strategy for checking external links, because using `htmltest` won't work -- most external sites will refuse connections from it.

[2021-08-20 15:46] nate-double-u commented on #400
Hello, thank you all for your interest and enthusiasm! As I mentioned in the [Etcd.io Docs/SEO Improvement Plan issue](https://github.com/etcd-io/website/issues/65#issuecomment-900522688): I'd like to suggest that we wait before starting any work on the project as there is a process we're going through with the etcd Docs LFX mentorship project, and I welcome you all to [apply to the program](https

[2021-08-20 17:24] unnati914 commented on #400
oh, thank you so much! for clarifying! :) Its was just that I was excited for the program and wanted to contribute as much as I can so I started early

[2021-08-20 19:35] kapunahelewong commented on #419
Hi @chalin, the last point on the list mentions other files. Is there anything in particular I should look for or directories I should check?

[2021-08-21 09:27] afzal442 commented on #245
hi there, well I had a look around this issue, what I found that `404 status error` should be refactored with correct links. thanks

// @nate-double-u

[2021-08-21 14:39] chalin commented on #419
Actually, we're all done! 🎉 Thanks!

[2021-08-21 14:39] #419 closed

[2021-08-22 14:44] wisdomekpotu commented on #65
@nate-double-u,  I just submitted my CV and cover letter on the LFX Portal to become a mentee on this project.

I have forked this repo began my research on the code base and will start contributing immediately.

[2021-08-23 12:26] chalin commented on #245
I take that back. I think that I've found a viable solution using `htmltest`. I'll iron out the details early this week once I'm at the office.

Note the command to check all links (internal and external) is now: `npm run check-links:all`

[2021-08-23 12:39] #270 closed

[2021-08-23 20:56] nate-double-u commented on #245
I'm not sure I follow, which links are incorrect on the 404 page?
https://etcd.io/404-check

[2021-08-23 21:57] chalin commented on #245
Kind of related: #195

[2021-08-23 22:06] chalin opened #459 "Install htmltest using it's install script once the next release becomes available"
To check links you'll need [htmltest](https://github.com/wjdp/htmltest/discussions)@HEAD in your path, unless you have `go` installed, then `npm run check-links` will fetch and build the required version for your. (That is, the current release 0.14.0 won't work.)

Otherwise, you can let Netlify check links for you as part of preview builds.

This issue is a reminder to update the `Makefile` to rev

[2021-08-25 12:15] chalin commented on #245
@kapunahelewong, here is what I propose for now: add links that you've manually verified to [.htmltest.yml](https://github.com/etcd-io/website/blob/main/.htmltest.yml) something like this:

[code]

Note: each regex pattern should start with `^`, and you don't need quotes around the pattern (contrary to how the first regex is encoded in the file atm).

[2021-08-25 12:32] chalin commented on #245
Also, please work through the pages starting with v3.5 pages first and submit that as a separate PR. Then v3.4. The other pages are much less important (and we might just skip such broken external links by adding them to the `IgnoreURLs`, unless we know what the fix is. Thanks!

[2021-08-26 14:50] genericmoniker opened #464 "Provide cleanup instructions on "Set up a local cluster" page"
First time experimenting with etcd, so I downloaded the binaries and started a local cluster as described here:

https://etcd.io/docs/v3.5/dev-guide/local_cluster/

For my situation I realized I needed an older version of etcd, but I don't know how to clean up the test environment from v3.5. When running v2.3.8, it fails with "experimental-v3demo cannot be disabled once it is enabled". I assume th

[2021-08-26 17:45] tadman opened #465 "Home page issue in Safari: Near endless div"
The home page for etcd on Safari has the info box showing as miles high

Is it possible the SVG artwork is sized incorrectly? The sizes are registering as 240x33554408px on my machine (not a typo).

Chrome seems to render correctly, no obvious issues.

---

Edit (@chalin): here's a screenshot from Safari on macOS:

![image](https://user-images.githubusercontent.com/4140793/134003501-5496d10d-d688-

[2021-09-01 17:52] nate-double-u opened #466 "Community page Google Group link incorrect"
On the [Community Page](https://etcd.io/community/), the Google Groups card's header links to grpc's google group (https://groups.google.com/forum/#!forum/grpc-io) rather than etcd's (https://groups.google.com/forum/?hl=en#!forum/etcd-dev).

[2021-09-01 18:02] nate-double-u commented on #65
For everyone who has applied to the LFX docs mentorship program, thank you so much for your interest and enthusiasm. The candidate selection has been made and emails should have been sent out with the results. If you weren't selected, please don't get discouraged. There were a lot of strong candidates who applied, and I wish we were able to choose more than one. I encourage you to try again next t

[2021-09-02 16:46] Somoshree commented on #396
"/assign"

[2021-09-02 16:47] Somoshree commented on #397
/assign

[2021-09-02 16:47] Somoshree commented on #398
/assign

[2021-09-02 16:48] Somoshree commented on #399
/assign

[2021-09-07 10:47] ramwissen opened #472 "image not working as expected"
[root@ip-10-118-47-60 bin]# ps -ef|grep etcd
root      1249 22349  0 10:46 pts/0    00:00:00 grep --color=auto etcd
root     32307 32264  0 10:33 ?        00:00:06 /etcd -name etcd0 -advertise-client-urls http://10.118.47.60:2379,http://10.118.47.60:4001 -listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 -initial-advertise-peer-urls http://10.118.47.60:2380 -listen-peer-urls http://0.0.0.

[2021-09-09 11:03] rgrupesh commented on #465
Hello @nate-double-u

I would like to work on this issue(if available). Any pointers to get started?

[2021-09-09 15:50] nate-double-u commented on #465
Thanks @rgrupesh! I'm not sure where or when the bug was introduced, but @chalin's #219 PR should give you a good idea of the files that may be related to it.

[2021-09-09 16:10] chalin commented on #465
Oh, I wasn't aware of this issue. Hmm, it rings a bell, but not enough to give on any pointers atm.
Thanks for giving it a try @rgrupesh! And thanks for giving pointers @nate-double-u.

(We don't want this high priority issue to be annoying Mac users much longer, so if you can't pinpoint the problem, I'll also take a look at time some time next week. Thanks again for taking a crack at it!)

[2021-09-09 16:12] Somoshree commented on #422
/assign

[2021-09-09 16:14] spzala commented on #394
https://github.com/etcd-io/etcd/tree/main/etcdutl

[2021-09-09 17:57] spzala commented on #309
Sharing per today's meeting discussion - https://github.com/etcd-io/etcd/tree/main/etcdutl

[2021-09-09 18:04] nate-double-u commented on #394
/cc @Somoshree

[2021-09-09 18:04] nate-double-u commented on #309
/cc @Somoshree

[2021-09-10 04:53] rgrupesh commented on #465
@chalin

I thought I could emulate safari on my Ubuntu using wine or some online emulator, but in vain. Wine does not have latest version and all online emulator seems to provide latest version only to  paid members. And, the problem seems to be only on latest version. Is there any workaround ? If no, please have a look at it yourself.

What I learned so far:
- same issue on iPhone, Mac(using late

[2021-09-10 17:28] nate-double-u opened #475 "Consider blog & case studies contribution guidelines"
Now that we have [community members contributing blog articles](https://github.com/etcd-io/website/pulls?q=is%3Aopen+is%3Apr+label%3Ablog) (thanks! this is awesome), we should consider setting guidelines for those submissions.

Kubernetes has a page describing "[submitting blog posts and case studies](https://kubernetes.io/docs/contribute/new-content/blogs-case-studies/)" that we could use as a sa

[2021-09-10 17:38] nate-double-u commented on #475
This discussion is related to "[Create Contributor Guide](https://github.com/etcd-io/website/issues/400) #400".

[2021-09-11 15:34] rgrupesh commented on #465
@chalin

I can't seem to find origin of the problem. Any thing related to this issue would help.

[2021-09-13 05:01] Somoshree commented on #394
/assign

[2021-09-13 23:13] nate-double-u commented on #394
Thanks for this @Somoshree, it's a great start!

I see that you're basing this page on the [Interacting with etcd page](https://etcd.io/docs/v3.5/dev-guide/interacting_v3/), I think that's a good idea, but remember the goals of that page and a getting started page are different.

A getting started page should show a reader enough to get a simple example system up and running, and link out to other

[2021-09-15 13:15] Somoshree commented on #309
/assign

[2021-09-15 17:13] chalin opened #479 "Use new and better canonical link to Google Groups"
Instead of the following (with or without the `?hl=en`):

- https://groups.google.com/forum/?hl=en#!forum/etcd-dev

We can now use this canonical form, which is more link-checker friendly (since several checkers complain of a missing anchor target due to `#!forum...`):

- https://groups.google.com/g/etcd-dev

[2021-09-15 17:22] chalin opened #480 "Remove link duplication from Community page metadata"
Since [v0.86.0] of Hugo, render-link hooks are [applied to all links](https://github.com/gohugoio/hugo/issues/8755), this gives us an opportunity to remove link duplication from the Community card-lists metadata.

For example, consider:

[code]

Note that the Google Group link appears in both the `title` (hard coded) and in the `[etcd-dev]` link definition -- and this duplication lead to #466 and

[2021-09-15 17:47] chalin opened #481 "Community page YouTube link incorrect in card title"
Similar to #466.

[2021-09-15 19:16] #480 closed

[2021-09-15 19:16] #481 closed

[2021-09-16 14:37] chalin commented on #459
I'm starting to think that we might want to keep that Makefile target renamed to, say, `build-link-checker`.

[2021-09-16 15:50] #422 closed

[2021-09-17 21:22] chalin opened #486 "Render-link hook: back propagate change"
The change introduced in https://github.com/notaryproject/notaryproject.dev/pull/40 should also be applied to this repo.

[2021-09-20 10:20] yxxhero opened #487 "[feature request] chinese docs plan"
hello. do you have chinese docs plan?

[2021-09-20 12:47] chalin commented on #465
The source of the problem seems to be an SVG rendering bug. Safari gives each of the three **Feature** SVGs a ridiculously large height. Choose any of the images, and inspect it -- you'll see something like this for the computed style properties:

That's a height of 44739220px! While I believe that this is a bug in Safari, I'll be submitting a workaround nonetheless.

[2021-09-20 17:48] nate-double-u commented on #487
Hi @yxxhero, [there is a group that is interested working on a Chinese language etcd site](https://github.com/etcd-io/website/pull/130#issuecomment-854924701). I'm not sure what stage the work has gotten to.

/cc @wenjiaswe & @wilsonwang371

[2021-09-20 18:02] wenjiaswe commented on #487
We have a https://github.com/etcd-io/website/pull/130 that translate etcd doc from https://etcd.io to http://etcd.cn, but it was not officially approved yet, and I tried to contact the author @winnetcn but haven't heard back.

@wilsonwang371 is there anything other than that going on on your side?

[2021-09-20 18:02] wenjiaswe commented on #487
Thanks @nate-double-u !

[2021-09-20 19:02] #465 closed

[2021-09-20 19:29] chalin commented on #465
For the record, the problem reported here also affects Chrome under iOS 14.x.

[2021-09-20 19:47] chalin opened #494 "Upgrade docsy"
- [x] #431
- [ ] Upgrade docsy proper
- [ ] Revert the CSS change of #493 since it is addressed in https://github.com/google/docsy/pull/500

[2021-09-20 20:02] nate-double-u commented on #465
I think Chrome on iOS uses Webkit on iOS, so anything affecting iOS Safari would likely also affect iOS Chrome.

[2021-09-21 07:51] #431 closed

[2021-09-21 09:55] #494 closed

[2021-09-21 10:21] chalin opened #498 "Breadcrumbs aren't shown for mobile / narrow displays"
Breadcrumbs don't take up a lot of page real estate and are useful

[2021-09-21 10:24] chalin commented on #314
I'd say that the GH site links in the footer are good enough, and fairly standard. I suggest closing this issue @nate-double-u. WDYT?

[2021-09-21 10:31] chalin opened #499 "Site search appears in two places (desktop)"
For wide displays, site search appears in two places -- see below for a screenshot. It should only appear in the top-nav in this case.

Note that for medium displays the top-nav search disappears. For narrow displays, the site search is just above the title. Both of these are ok.

<img width="1152" alt="Screen Shot 2021-09-21 at 6 28 31 AM" src="https://user-images.githubusercontent.com/4140793/13

[2021-09-21 17:09] nate-double-u commented on #455
fixed in #493

[2021-09-21 17:09] #455 closed

[2021-09-21 20:44] nate-double-u commented on #314
I'd like the community to weigh in before we close it.

Perhaps I can suggest a lazy consensus on this issue? If no one comments by Tuesday September 28th (7 days) then we close this issue and leave things as is.

/cc @spzala @hexfusion @gyuho @ptabor @wenjiaswe @jberkus @xiang90

[2021-09-22 05:50] yxxhero commented on #487
@nate-double-u Thansk very much.

[2021-09-22 05:58] nate-double-u commented on #487
I'm sorry @yxxhero, I should have been more clear. I meant my last comment for @wenjiaswe.

I was going to suggest that you attend the next etcd community meeting as I think having a chinese docs plan would be good, and I think that there are community members who would support it.

I'd like to reopen this issue.

[2021-09-22 06:00] nate-double-u commented on #487
You can get an invite to the community meetings by joining the mailing list (managed by Google groups), you can find the info on the https://etcd.io/community/ page.

[2021-09-22 06:41] yxxhero commented on #487
@nate-double-u I want to participate together, but my oral English is very poor.

[2021-09-22 14:07] chalin opened #501 "Homepage & Community page: top-nav can be difficult to read due to transparency"
Pages with `block/cover` have this issue:

Also see https://github.com/grpc/grpc.io/issues/866.

[2021-09-22 18:50] chalin commented on #402
FYI, from https://github.com/etcd-io/website/pull/490#pullrequestreview-761287141:

[2021-09-22 19:05] #501 closed

[2021-09-22 21:17] spzala opened #503 "Create a page to host links for blogs"
In a etcd community meeting sometime back, we have decided that for third party blogs we will not host them on etcd.io because of maintenance issues. Instead, we will have a page created where we can provide a link to blogs for reference.
@nate-double-u @Somoshree I think we don't have a such a page yet but it's good to create one. Let me know your thoughts or questions. Thanks!

[2021-09-22 21:44] nate-double-u commented on #503
I thought that we had decided the etcd.io blog _was_ the place for these kinds of pages, removing them from the documentation proper (moving them out of the Platform section).

We had discussed the options in the [Feb 11, 2021 community meeting](https://docs.google.com/document/d/16XEGyPBisZvmmoIHSZzv__LoyOeluC5a4x353CX0SIM/edit#heading=h.hzy3dqr6kzwk), but it doesn't look like we recorded the dec

[2021-09-22 21:48] nate-double-u commented on #503
Here's where i think I got that idea, @ptabor proposed it in his comment here https://github.com/etcd-io/etcd/pull/12668#issuecomment-779665473

[2021-09-23 00:02] chalin commented on #309
For consistency, with the current site content I believe that a bullet for `etcdutl` should be added to [Library and tools > Tools].

[Library and tools > Tools]: https://etcd.io/docs/v3.5/integrations/#tools
[etcd/main/etcdutl/README.md]: https://github.com/etcd-io/etcd/blob/main/etcdutl/README.md

Oh! Now I see where the content of #478 comes from: it is from [etcd/main/etcdutl/README.md].

IMHO

[2021-09-23 00:09] chalin commented on #267
There's some discussion of possible IA rework in https://github.com/etcd-io/website/issues/309#issuecomment-925412965:

Maybe `/docs/v3.5/integrations/` should be split into the following (IMHO) more intuitive names especially if we bring in subpages:

Which makes me think that `/docs/v3.5/platforms` makes sense too.

Hmm, we have too many entries below /docs/v3.5.

[2021-09-23 00:23] chalin opened #504 "Code block wrap under Safari, iOS and macOS"
Code blocks shouldn't wrap. Hmm, but it isn't consistent. For example, visit https://etcd.io/docs/v3.5/op-guide/clustering/#static using Safari:

- The first two code block wrap
- The next three scroll

[2021-09-23 00:49] chalin commented on #503
We already have a [Additional community resources] section at the end of the [Community] page. We could just community articles and blogs there (or under a subsection entitled "Articles", say). That's probably simplest to start off with.

[Additional community resources]: https://etcd.io/community/#additional-community-resources
[Community]: https://etcd.io/community/

Or, it might make sense to h

[2021-09-23 14:01] chalin commented on #402
To be clear, I think that some of the entries don't qualify (have enough material) to warrant being referred to as a tutorial, though some might. On the other hand they might make sense as a quick/short "how to" (of course we can find another term if y'all prefer).

[2021-09-23 14:05] chalin commented on #267
@nate-double-u: is the original Jira ticket (associated with #65) still open? If not (or maybe regardless), opening a new ticket requesting an IA assessment and new IA proposal might make sense. WDYT? /cc @CelesteHorgan

[2021-09-23 14:10] Somoshree commented on #402
I too agree with @chalin . What I felt after going through the Demo page is that there isn't enough material to rework each of these sections into separate tutorial pages. Also sections like "Get by prefix", "Delete key" etc. such sections have already been referenced in "Interacting with etcd" page and doing tutorials for these would be a duplication.

[2021-09-23 16:03] jberkus commented on #402
Duplication is OK.  What we're talking about is having a section of solution-oriented docs, as opposed to the reference-oriented main docs.  That often results in duplication of material.  Not having enough content is something else, though.

[2021-09-23 16:31] jberkus opened #505 "Authentication and RBAC should be separate doc pages"
The way it is now:

Our authentication reference info is kind of a postscript on the [Role Based Access Control page](https://etcd.io/docs/v3.5/op-guide/authentication/) (which is named, confusingly, "Authnentication").  This makes it both hard to find, and has resulted in full authentication docs never being written.  All that's covered there is basic auth.

The way it should be:

We should have

[2021-09-23 16:32] jberkus commented on #505
tag: @nate-double-u @Somoshree @chalin

[2021-09-23 16:33] nate-double-u commented on #503
Related: https://github.com/etcd-io/website/issues/475

[2021-09-23 23:05] dggneubert opened #506 "Install pre-built binaries - instructions could easily be so much clearer (and say tons of time)"
I am sure it seems 101 to you all -- but I can't stress enough how much I feel basic start-up barriers not only discourage folks, but many times may turn them away from using your product.

You steps 2 & 3 below are perfectly clear (now that I understand how simple they were), but being new to linux and devops in general, just adding a couple of example one line commands (perhaps both for Windows,

[2021-09-24 21:55] spzala commented on #503
Responded in a meeting last week - we will keep existing doc conversion to blogs, and new blog on etcd community work (announcements etc) but new or reposing of third-party blogs (how-to, 101 etc) will be provided with a link for reference.

[2021-09-24 21:58] spzala commented on #503
All good thoughts - I like /community/blogs Thanks @chalin

[2021-09-26 18:42] #396 closed

[2021-09-27 15:19] Somoshree commented on #401
/assign

[2021-09-27 15:44] Somoshree commented on #401
@jberkus Hey! Regarding setting up of the administration page, is it about structuring the operations guide, upgrading and benchmarks under this page or is it something more? Is it this that you expect from the Administration page?

[2021-09-27 16:01] jberkus commented on #401
Maybe?  It's a question of how the docs are primarily organized.  If they're not under a top-level section called "administration" then it makes sense to have a resource page.

[2021-09-27 16:49] nate-double-u commented on #401
These are likely out of date now, but they may still be a good starting point for creating/organising the Administration information:
- https://github.com/etcd-io/website/issues/110
- https://miro.com/app/board/o9J_lWnPo9c=/

[2021-09-28 00:10] jberkus commented on #401
So, given that Administration is a major section, I'm not clear on why we'd have an administration *page*.

[2021-09-28 16:06] nate-double-u commented on #314
Closing as per the lazy consensus.

[2021-09-30 16:00] jberkus commented on #506
We're currently (as in next week or so) working on overhauling the installation docs, so thank you for this report!

[2021-09-30 16:07] jberkus opened #509 "Revise and expand Installation docs"
Our installation docs need to cover all of the ways that people install etcd for production.  We should create subheads under installation for each of the following installation techniques:

- Installation via pre-built binaries, which is the doc now (but see #506)
- Build from source, also already doc'd
- Installation via OS packages
- Installation as part of Kubernetes installation (kubeadm?  an

[2021-09-30 16:45] jberkus commented on #475
I think we should keep it light for now; our main problem is getting blog posts at all, and we don't want to put a complicated set of rules in front of that.

I'd suggest just a "what's appropriate for this blog/what isn't" and leave it at that.

[2021-09-30 23:56] jberkus commented on #402
So, looking over the Demo, here's my thinking by section:

- Set Up A Cluster --> should be part of install docs
- Access etcd --> should be part of "Interacting with Etcd"
- Get by Prefix --> stub for "How To Get Keys by Prefix"
- Delete --> stub for "How to Delete Keys"
- Transactional Write --> stub for "How To Make Multiple Writes in a Transaction"
- Watch --> stub for "How to Watch Keys"
- Le

[2021-10-05 18:08] philips commented on #375
I just noticed this today. It would be a good thing to fix this as it is pretty misleading for modern etcd.

[2021-10-07 17:44] #398 closed

[2021-10-08 09:17] fengweiyuan opened #516 "Do metrics in all node of cluster are same?"
Do metrics in all node of cluster are same?
if yes, i will extract metrics from only one node in cluster is ok.
thanks.

[2021-10-15 06:58] wuyuhang18325533531 opened #523 "test"

[2021-10-19 16:28] nate-double-u opened #529 "Extra bullet character getting rendered on "How to create lease" page"
There is an extra bullet character getting rendered between the description and the first line.

Page affected: https://etcd.io/docs/v3.5/tutorials/how-to-create-lease/

Follow up to https://github.com/etcd-io/website/pull/520

<img width="834" alt="Screen Shot 2021-10-18 at 4 06 57 PM" src="https://user-images.githubusercontent.com/4453979/137818660-e17d2673-9f7c-4f00-a903-bac44c5cc3a6.png">

(te

[2021-10-22 14:44] siribathala opened #531 "Need more explanation step by step.."
I am new to kubernetes and I felt like it is not clear for me to understand.

[2021-10-22 16:59] hegw opened #532 "why there is no description for 'enable-grpc-gateway' flag"
i start a etcd cluster with a configuration file, and when i access v3 api such as
`curl -L http://192.168.31.101:2379/v3/kv/range -X POST -d '{"key": "Zm9v", "range_end": "Zm9v"}'`,  i got '404' response.

i found the description for the  'enable-grpc-gateway' flag from [apisix faq](https://apisix.apache.org/docs/apisix/FAQ/), but not in the [etcd document](https://etcd.io/docs/v3.4/op-guide/conf

[2021-11-02 19:29] lwille commented on #382
What's the status of this? Both etcd.io and kubernetes.io docs still reference the deprecated command, there's no install instructions for `etcdutl` (coming here from a killer.sh session).

[2021-11-08 03:57] yuuu11 opened #537 "some api change and I fail to get it"
i want to know how to get info of ‘/maintenance/status’ in etcd v3.4

[2021-11-09 23:23] nate-double-u opened #538 "Docs, Blog, and Install navbar entries are not shown as active when pages are being viewed"
- [ ] Docs
- [x] Blog (see screenshot below) - #542
- [ ] Install

related: https://github.com/grpc/grpc.io/issues/895

## Screenshots
### expected
<img width="1169" alt="Screen Shot 2021-11-09 at 3 21 10 PM" src="https://user-images.githubusercontent.com/4453979/141021406-7f4f66d7-6e6f-4752-821e-5a5543714ba3.png">

### actual
<img width="1169" alt="Screen Shot 2021-11-09 at 3 21 22 PM" src="https

[2021-11-09 23:28] nate-double-u commented on #538
Marking as "good first issue" as the [related issue](https://github.com/grpc/grpc.io/issues/895) has 2 PRs that show potential solutions.

[2021-11-10 23:04] nate-double-u commented on #505
@jberkus, we've got a new [Authentication page](https://etcd.io/docs/v3.5/authentication/) now; should the original https://etcd.io/docs/v3.5/op-guide/authentication/ (Athentication) page now be renamed "Role Based Access Control" & moved next to the new Auth page?

[2021-11-11 00:35] nate-double-u commented on #538
Another potential solution: https://github.com/gohugoio/hugo/issues/9150#issuecomment-965798975

[2021-11-11 16:53] Somoshree commented on #509
/assign

[2021-11-11 16:54] Somoshree commented on #505
/assign

[2021-11-11 16:54] spzala commented on #505
The current page https://etcd.io/docs/v3.5/authentication/ looks more of RBAC so that needs to be worked on as discussed in meeting today. Also, let's have a high level dir here with two sub-pages covering Authentication and RBAC on their own. @nate-double-u @Somoshree Please add anything if I missed from our discussion. Thanks!

[2021-11-12 19:25] nate-double-u commented on #505
During that meeting we also had a discussion about where the Authentication should be -- at the same level as op-guide, or under op-guide. I'm happy with it being at the same level as I think it's likely a very common action, so it may be valuable to have it have a higher place, but I can also see how it's a part of the op-guide suite, and if it's put there we can still link to it from other place

[2021-11-15 20:29] jberkus commented on #505
I'd say under the op guide.  It's important, but it's definitely operations.

[2021-11-25 13:39] #296 closed

[2021-11-25 20:05] chalin commented on #498
Escalated to upstream, since I'd like to see this behavior across CNCF websites: https://github.com/google/docsy/issues/780

[2021-11-30 00:04] nate-double-u opened #545 "Update `make docker-serve` command to match `npm run serve`"
Currently the `make docker-serve` command runs a hugo instance. This works well for basic updates. Should we consider updating it to run the website through the `netlify-cli`so that we can make the docker environment act more like the production environment? (for instance, allowing updates to redirects)

/cc @chalin

[2021-11-30 21:30] chalin commented on #545
At some point we had discussed dropping Docker support. Is that still on the table for discussion?

[2021-11-30 21:53] nate-double-u commented on #545
I'd be happy to drop it -- one less thing to maintain. But if we keep it, it should probably run the same command as the non-docker local dev environment.

[2021-12-01 10:04] gingercat-maki opened #546 "please use examples and pictures to illustrate the data model, and k-v versions and indexing of this part"

[2021-12-05 19:12] kapad opened #547 "Publish prometheus metrics for benchmark tests"
On the benchmarks page, having the prometheus metrics that are generated for the duration of the test would aid in comparing the benchmark performance tests to the environment that I'm testing.

[2021-12-16 15:22] Kapitaen-zur-See opened #549 "Flag for config file missing in Documentation v3.5"
Hey,

in the new Documentation for the configuration flags the explanation of how to set a config file is missing:
[content/en/docs/v3.5/op-guide/configuration.md](https://github.com/etcd-io/website/blob/main/content/en/docs/v3.5/op-guide/configuration.md)
in v3.4 it's explained:
https://github.com/etcd-io/website/blob/main/content/en/docs/v3.4/op-guide/configuration.md?plain=1#L9

[2022-01-12 20:40] spzala opened #553 "Replace supported versions reference"
https://etcd.io/docs/v3.5/op-guide/versioning/ and similar versioning pages for 3.4 and 3.3 has a hard coded reference for the supported versions. We should try to repharse it or find a way to dynamically list the versions.

Related https://github.com/etcd-io/website/pull/551
cc @nate-double-u

[2022-02-09 04:03] complib2891 opened #559 "no documentation on how production cluster should be set"

[2022-02-17 03:28] linsite opened #563 "dev-guide: go get github.com/mattn/goreman failed"
page: https://etcd.cn/docs/current/dev-guide/local_cluster/

$ go version
go version go1.17.2 linux/amd64

$ go get github.com/mattn/goreman
go: downloading github.com/mattn/goreman v0.3.9
go: downloading github.com/joho/godotenv v1.3.0
go: downloading github.com/mattn/go-colorable v0.1.4
go: downloading golang.org/x/sys v0.0.0-20211216021012-1d35b9e2eb4e
go: downloading gopkg.in/yaml.v2 v2.2.7
go

[2022-02-22 16:40] nate-double-u commented on #529
Fixed in https://github.com/etcd-io/website/pull/562

[2022-02-22 16:40] #529 closed

[2022-03-14 12:27] pgodfrin-nov opened #567 "V3.x docs"
Erm - where exactly are the config parameters described? In the v2 docs they are here:
https://etcd.io/docs/v2.3/configuration/

[2022-03-22 20:51] spzala opened #571 "etcd 3.6 release doc update tracker"
We plan to create a doc folder for 3.6 under this PR https://github.com/etcd-io/website/pull/565 with doc updates for recently release v3.6.0-alpha. This folder will be used to update doc for v3.6 as progress made in the etcd main branch. When v3.6 release, we will rename the v3.6.0-alpha to v3.6.

We will keep the `latest` to v3.5 until we have v3.6 out (`config.yaml` file). The `next` will point

[2022-03-22 20:52] spzala commented on #571
cc @nate-double-u @serathius @ptabor @ahrtr

[2022-03-28 06:35] zhangtong007 opened #573 "Want to publish a helm chart deployment tutorial"

[2022-03-28 08:04] KPC091992 opened #574 "KAMPANAT THUMWONG"
@KAMPANAT THUMWONG
@KAMPANAT091992

- [x] `KAMPANAT THUMWONG`

[2022-03-28 08:05] KPC091992 commented on #574
Duplicate of #101

[2022-03-28 08:05] KPC091992 commented on #574
Duplicate of #1

[2022-03-28 08:05] #574 closed

[2022-03-28 09:48] 809544928 opened #575 "Error: grpc: timed out when dialing,"
Excuse I want to ask that what the means of "be sure to use the new varibale names……（link）"
That is how to solve this problem.

etcdctl environment variables have been updated. If ETCDCTL_API=2 etcdctl cluster-health works properly but ETCDCTL_API=3 etcdctl endpoints health responds with Error: grpc: timed out when dialing, be sure to use the [new variable names](https://github.com/etcd-io/etcd/tr

[2022-04-11 13:50] FGasper opened #580 "Security section needs proper explanation of peer-certificate contents"
https://etcd.io/docs/v3.5/op-guide/security/#example-3-transport-security--client-certificates-in-a-cluster

There’s no explanation given of what the CN or SAN need to be in the peer certificates. Given that every TLS peer decides for itself what it accepts this seems like critical information … unless I’m missing something?

Thank you!

[2022-05-17 01:50] tenderbulk opened #584 "add how to create CA pem files when using https"
it would be more helpful if we append how we can create CA pem files to use https when setting up etcd clusters like 3 master nodes

[2022-05-20 11:18] necatican opened #585 "Alter the documentation for the quota-backend-bytes variable"
Hello,
Sorry to be nitpicky; I think there's room for misunderstanding in the current documentation.

The current [documentation](https://etcd.io/docs/v3.6/dev-guide/limit/#storage-size-limit) declares that the default value for the `--quota-backend-bytes` is 2GB, but when I look at the [default value](https://github.com/etcd-io/etcd/blob/main/server/storage/quota.go#L31-L34=), it's equal to 2GiB.

[2022-05-25 18:03] allidoiswin10 opened #587 "ETCD performance"
Hi Team, Please provide more clear concise instructions on this page.

How does one monitor the outcome of the benchmark? Via the metrics from the node and prometheus?

[2022-06-03 09:00] NsrWissam opened #588 "8GB recommended limit can be lifted"
Considering the following article by Alibaba:
https://www.cncf.io/blog/2019/05/09/performance-optimization-of-etcd-in-web-scale-data-scenario/
And the related merged pull request that solves the size limit bottlenecks
https://github.com/etcd-io/bbolt/pull/141

I feel like this guide page : https://etcd.io/docs/v3.5/dev-guide/limit/
for system limits needs to updated to reflect the changed capabili

[2022-06-06 15:07] serathius commented on #588
Contributions are welcomed. Feel free to send a PR.

One more improvement would be confirm how much limit has improved vs 8GB on v3.4, original article mentions 100GB. Would be great to have some official tests.

[2022-06-14 15:23] NsrWissam commented on #588
@Nawaz027 i will make a PR to change the website text already and in the meantime i will start work on testing the limits.

[2022-06-20 16:00] patrocinio commented on #271
The same issue applies to the "Running a single node etcd" section in v3.5 documentation

[2022-06-20 16:10] patrocinio commented on #74
Hello @cakoose You are right: it should say at least 3 AZs.

[2022-06-20 20:30] patrocinio commented on #74
Hey @cakoose I see the Platform pages have been removed from recent documentation version (v3.5 and v3.6), and that v3.4 is not being maintained, so it seems this issue is outdated.

Thanks

[2022-06-21 05:23] #74 closed

[2022-06-21 10:35] patrocinio commented on #504
Hello @chalin,

    I tested it using macOS and Safari, and I see that all code blocks scroll:

<img width="738" alt="Screen Shot 2022-06-21 at 7 32 16 AM" src="https://user-images.githubusercontent.com/216197/174779710-4610e59c-da55-452e-b413-89048669277b.png">

[2022-07-05 04:19] prepstarr opened #594 "step 3 of install does not work ./build.sh"
step 3 of the installation instructions from build from source instructions : https://etcd.io/docs/v3.5/install/

the error is as follows :

[code]

[2022-07-12 16:24] chalin commented on #387
I'm going to close this. We can reopen it or create a new issue if/when the need is felt more strongly.

[2022-07-12 16:24] #387 closed

[2022-07-12 16:26] chalin opened #595 "Set up Google Analytics 4 (GA4)"
- [x] Create a GA4 tag (measurement ID) --> G-VF9H3EHMDK. For details see comments below
  - **Note**: the UA and GA4 tags are now [connected]
- [x] Add ~or upgrade to~ use of `gtag.js` for configuring the new GA4 site tag - #597
- [x] Confirm that the GA4 site tag is receiving events and posting data

To learn more, including links to other resources, see:

- https://github.com/cncf/techdocs/issu

[2022-07-12 20:35] jayunit100 opened #596 "Disaster recovery page needs --data-dir?"
After you snapshot, you want to store the snapshot, restore it to a directory, and then put that directory in place of, say   /var/lib/etcd/, or wherever  your `--data-dir` normally is

lets update the recovery page to explicitly include data-dir in the overall instructions (and possibly the step of making sure the snapshot is moved into that explicitly)

(let me know if im missing anything here)